  <!-- Content -->
  <section id="page-content">
    <div class="container">
        <!-- post content -->
        <!-- Portfolio Filter -->
        <nav class="grid-filter gf-outline" data-layout="#blog">
            <ul>
                <li class="active"><a href="#" data-category="*">Show All</a></li>
                <li><a href="#" data-category=".bc-general">General</a></li>
                <li><a href="#" data-category=".bc-music">Music</a></li>
                <li><a href="#" data-category=".bc-economics">Economics</a></li>
                <li><a href="#" data-category=".bc-medical">medical</a></li>
                <li><a href="#" data-category=".bc-sport">Sport</a></li>
                <li><a href="#" data-category=".bc-science">Science</a></li>
            </ul>
            <div class="grid-active-title">Show All</div>
        </nav>
        <!-- end: Portfolio Filter -->
        <!-- Blog -->
        <div id="blog" class="grid-layout post-3-columns m-b-30" data-item="post-item">
            <!-- Post item-->
            <div class="post-item border bc-general bc-music bc-economics bc-medical bc-sport bc-science">
                <div class="post-item-wrap">
                    <div class="post-image">
                        <a href="#">
                            <img alt="" src="../../../assets/img/product.jpeg">
                        </a>
                        <span class="post-meta-category"><a href="">Lifestyle</a></span>
                    </div>
                    <div class="post-item-description">
                        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
                        <h2><a href="#">Standard post with a single image
                            </a></h2>
                        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>
                        <a href="#" class="item-link">Read More <i class="icon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- end: Post item-->
            <!-- Post item-->
            <div class="post-item border bc-medical bc-sport bc-science">
                <div class="post-item-wrap">
                    <div class="post-slider">
                        <div class="carousel dots-inside arrows-visible arrows-only" data-items="1" data-loop="true" data-autoplay="true" data-lightbox="gallery">
                            <a href="../../../assets/img/product.jpeg" data-lightbox="gallery-image">
                                <img alt="" src="../../../assets/img/product.jpeg">
                            </a>
                            <a href="images/blog/16.jpg" data-lightbox="gallery-image">
                                <img alt="" src="../../../assets/img/product.jpeg">
                            </a>
                        </div>
                        <span class="post-meta-category"><a href="">Technology</a></span>
                    </div>
                    <div class="post-item-description">
                        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
                        <h2><a href="#">Simplicity, a post with slider gallery</a></h2>
                        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>
                        <a href="#" class="item-link">Read More <i class="icon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- end: Post item-->
            <!-- Post item-->
            <div class="post-item border bc-general bc-music bc-economics">
                <div class="post-item-wrap">
                    <div class="post-image">
                        <a href="#">
                            <img alt="" src="../../../assets/img/product.jpeg">
                        </a>
                        <span class="post-meta-category"><a href="">Science</a></span>
                    </div>
                    <div class="post-item-description">
                        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
                        <h2><a href="#">Standard post with a single image
                            </a></h2>
                        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>
                        <a href="#" class="item-link">Read More <i class="icon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- end: Post item-->
            <!-- Post item HTML5 Audio-->
            <div class="post-item border bc-music  bc-sport bc-science">
                <div class="post-item-wrap">
                    <div class="post-audio">
                        <a href="#">
                            <img alt="" src="../../../assets/img/product.jpeg">
                        </a>
                        <span class="post-meta-category"><a href="">Audio</a></span>
                        <audio class="video-js vjs-default-skin" controls preload="false" data-setup="{}">
                            <source src="audio/beautiful-optimist.mp3" type="audio/mp3" />
                        </audio>
                    </div>
                    <div class="post-item-description">
                        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
                        <h2><a href="#">Self Hosted HTML5 Audio (mp3) with image cover</a></h2>
                        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>
                        <a href="#" class="item-link">Read More <i class="icon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- end: Post item-->
            <!-- Post item Vimeo-->
            <div class="post-item border bc-music bc-medical bc-sport bc-science">
                <div class="post-item-wrap">
                    <div class="post-video">
                        <iframe src="https://player.vimeo.com/video/198559065?title=0&byline=0&portrait=0" width="560" height="376" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        <span class="post-meta-category"><a href="">Video</a></span>
                    </div>
                    <div class="post-item-description">
                        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
                        <h2><a href="#">This is a example post with Vimeo video</a></h2>
                        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>
                        <a href="#" class="item-link">Read More <i class="icon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- end: Post item Vimeo-->
            <!-- Post item-->
            <div class="post-item border bc-general bc-economics">
                <div class="post-item-wrap">
                    <div class="post-image">
                        <a href="#">
                            <img alt="" src="../../../assets/img/product.jpeg">
                        </a>
                        <span class="post-meta-category"><a href="">Science</a></span>
                    </div>
                    <div class="post-item-description">
                        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
                        <h2><a href="#">Standard post with a single image
                            </a></h2>
                        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>
                        <a href="#" class="item-link">Read More <i class="icon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- end: Post item-->
            <!-- Post item YouTube-->
            <div class="post-item border bc-medical bc-sport bc-science">
                <div class="post-item-wrap">
                    <div class="post-video">
                        <iframe width="560" height="376" src="https://www.youtube.com/embed/dA8Smj5tZOQ" frameborder="0" allowfullscreen></iframe>
                        <span class="post-meta-category"><a href="">Video</a></span>
                    </div>
                    <div class="post-item-description">
                        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
                        <h2><a href="#">This is a example post with YouTube</a></h2>
                        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>
                        <a href="#" class="item-link">Read More </a>
                    </div>
                </div>
            </div>
            <!-- end: Post item YouTube-->
            <!-- Post item-->
            <div class="post-item border bc-general bc-music bc-economics bc-medical">
                <div class="post-item-wrap">
                    <div class="post-slider">
                        <div class="carousel dots-inside arrows-visible arrows-only" data-autoplay="2600" data-animate-in="fadeIn" data-animate-out="fadeOut" data-items="1" data-loop="true" data-autoplay="true" data-lightbox="gallery">
                            <a href="../../../assets/img/product.jpeg" data-lightbox="gallery-image">
                                <img alt="" src="../../../assets/img/product.jpeg">
                            </a>
                            <a href="../../../assets/img/product.jpeg" data-lightbox="gallery-image">
                                <img alt="" src="../../../assets/img/product.jpeg">
                            </a>
                        </div>
                        <span class="post-meta-category"><a href="">Technology</a></span>
                    </div>
                    <div class="post-item-description">
                        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
                        <h2><a href="#">Simplicity, a post with slider gallery</a></h2>
                        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>
                        <a href="#" class="item-link">Read More <i class="icon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- end: Post item-->
            <!-- Post item-->
            <div class="post-item border bc-economics bc-medical">
                <div class="post-item-wrap">
                    <div class="post-image">
                        <a href="#">
                            <img alt="" src="../../../assets/img/product.jpeg">
                        </a>
                        <span class="post-meta-category"><a href="">Lifestyle</a></span>
                    </div>
                    <div class="post-item-description">
                        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
                        <h2><a href="#">Standard post with a single image
                            </a></h2>
                        <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>
                        <a href="#" class="item-link">Read More <i class="icon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- end: Post item-->
        </div>
        <!-- end: Blog -->
        <!-- Pagination -->
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item active"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
        </ul>
        <!-- end: Pagination -->
    </div>
    <!-- end: post content -->