<!-- Page title -->
<!-- end: Page title -->
<!-- Content -->
<section id="page-content">
  <div class="container">
    <!-- post content -->
    <!-- Blog -->
    <div id="blog" class="grid-layout post-4-columns m-b-30" data-item="post-item">
      <!-- Post item-->
      <div class="post-item border mb-4" *ngFor="let item1 of listBlog| paginate: { itemsPerPage: 12, currentPage: p, id: id  }">
        <div class="post-item-wrap">
          <div class="post-image">
            <a href="#">
              <img alt="" src="{{item1.imgBlog}}">
            </a>
          </div>
          <div class="post-item-description">
<!--            <span class="post-meta-date"><i class="fa fa-calendar-o"></i>{{item1.createdAt | date:'dd-MM-yyyy':'VI'}}</span>-->
            <!--              <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>-->
            <h2 class="post-summary1"><a href="#">{{item1.blogTitle}}
            </a></h2>
            <p class="post-summary">{{item1.description}}</p>

            <a href="/blog/detail/{{item1.id}}" class="item-link">Xem thêm <i class="fa fa-arrow-right"></i></a>

          </div>
        </div>
      </div>
      <!-- end: Post item-->
    </div>
    <!-- end: Blog -->
    <!-- Load next portfolio items -->

    <!-- end:Load next portfolio items -->
    <!-- Show more posts Button -->

      <hr class="m-t-40">
      <pagination-controls maxSize="5" *ngIf="listBlog.length > 4"
                           style="text-align: center;" [id]="id" (pageChange)="p = $event">
      </pagination-controls>
    <!-- end: Show more posts Button -->
  </div>
  <!-- end: post content -->
</section> <!-- end: Content -->
