.name {
  white-space: nowrap;
  width: 100%;
  height: 30%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.post-summary {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.post-summary1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
