<!-- Inspiro Slider -->
<div id="slider" class="inspiro-slider slider-halfscreen dots-creative ">

  <!-- Slide 1 -->
  <div class="slide kenburns background-image" style="background-image:url('../../../assets/img/slider-3.jpeg');">
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="slide-captions text-center text-light">
        <!--                          Captions-->
        <span class="strong"><a href="#" class="business"><span
          class="business">Chào mừng bạn đến với Cactus </span></a>
                         </span>
        <h4>Cửa hàng chuyên về các loại cây cảnh</h4>
        <p>Cactus giúp bạn khám phá những loại cây tốt nhất cho không gian của bạn</p>
        <!--                         <button type="button" class="btn">Get started</button>-->
        <button type="button" class="btn btn-light-hover btn-success" ><a href="/shop">Bắt đầu</a> </button>
        <!-- end: Captions -->
      </div>
    </div>
  </div>
  <!-- end: Slide 1 -->

  <!-- Slide 2 -->
  <div class="slide kenburns background-image" style="background-image:url('../../../assets/img/slider-1.jpeg');">
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="slide-captions text-left text-light">
        <!--                          Captions-->
        <span class="strong"><a href="#" class="business"><span class="business">Chào mừng bạn đến với Cactus</span></a>
                         </span>
        <h4>Đam mê của bạn là sự hài lòng của chúng tôi</h4>
        <p>Cùng với Cactus thêm màu xanh cho cuộc sống</p>
        <button type="button" class="btn btn-light-hover btn-success" ><a href="/shop">Bắt đầu</a> </button>
        <!-- end: Captions -->
      </div>
    </div>
  </div>
  <!-- end: Slide 2 -->

</div>
<!--end: Inspiro Slider -->

<!--         Banner-->
<div>
  <div class="container m-t-50">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="item-banner style4">
          <div class="inner">
            <div class="banner-content">
              <h4 class="teamo-subtitle">Sản phẩm mới</h4>
              <h3 class="title">Cây nội thất</h3>
              <button type="button" class="btn btn-success " ><a href="/shop" style="color: white;">Mua ngay</a> </button>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="item-banner style5">
          <div class="inner">
            <div class="banner-content">
              <h4 class="teamo-subtitle">Sản phẩm nổi bật</h4>
              <h3 class="title">Cây tốt cho sức khỏe</h3>
              <button type="button" class="btn btn-success"><a href="/shop" style="color: white;">Mua ngay</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--         end banner-->

<!-- : SHOP CATEGORIES -->
<!--<section>-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-12">-->
<!--        <div class="heading-text heading-section text-center">-->
<!--          <h4>Các Loại Cây Cảnh </h4>-->
<!--          <hr style="width: 10%;margin-left:45%; border: #39a02d solid 1px;">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="shop-category">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-3" *ngFor="let item of listCategory">-->
<!--          <div class="shop-category-box">-->
<!--            <a href="#"><img alt="" src="{{item.image}}">-->
<!--              <div class="shop-category-box-title text-center">-->
<!--                <h6>{{item.name}}</h6>-->
<!--              </div>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!-- end: SHOP CATEGORIES -->
<hr style="width: 80%; margin-left: 10%">
<!--    new product-->
<section class="no-padding">
  <div class="col-12 m-b-60 m-t-60">
    <!-- Section Heading -->
    <div class=" heading-text section-heading text-center ">
      <h4>Sản Phẩm Mới</h4>
      <hr style="width: 10%;margin-left:45%; border: #39a02d solid 1px;">
    </div>
  </div>

  <div class="grid-articles carousel post-carousel" data-items="5" data-dots="false">
    <article class="post-entry" *ngFor="let item of listTree" [routerLink]="['/shop-details']"
             [queryParams]="{id:item.id}">
      <a href="/shop-details/{{item.id}}" class="post-image"><img alt="" src="{{item.image}}"></a>
      <div class="post-entry-overlay">
        <div class="post-entry-meta">
          <div class="product-description">
            <div class="product-category">{{item.category}}</div>
            <div class="product-title">
              <h3 class="name"><a href="/shop-details/{{item.id}}">{{item.name}}</a></h3>
            </div>
            <div class="product-price">
              <ins>{{item.price | currency:' ':'symbol':'1.0-0'}}<sup>đ</sup></ins>
            </div>

            <div class="product-rate">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
            </div>
          </div>

        </div>
      </div>
    </article>

  </div>
</section>
<!-- end: new product -->

<hr style="width: 80%; margin-left: 10%; margin-top: 5%;">
<!-- Shop products -->
<section>
  <div class="container">

    <div class="heading heading-text m-b-40">
      <h4>Sản Phẩm Nổi Bật</h4>
      <hr style="width: 10%;margin-left:45%; border: #39a02d solid 1px;">
    </div>

    <!--Product list-->
    <div class="shop">
      <div class="grid-layout grid-4-columns" data-item="grid-item">
        <div class="grid-item" *ngFor="let item of listTree| paginate: { itemsPerPage: 12, currentPage: p, id: id  }"
             [routerLink]="['/shop-details']" [queryParams]="{id:item.id}">
          <div class="product col-11 ml-2 border p-3 pb-5">
            <div class="product-image">
              <a href="/shop-details/{{item.id}}"><img alt="Shop product image!" src="{{item.image}}">
              </a>
              <span class="product-wishlist">
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                    </span>
              <div class="product-overlay row ml-0">
                <a href="/shop-details/{{item.id}}" class="col-6 border-right"><i
                  class="fa fa-eye btn-white"></i></a>
                <a (click)="addToCart(item.id)" id="cart" class="col-6"><i class="fa fa-shopping-bag"
                                                                 style="color: white;"></i></a>
              </div>
            </div>
            <div class="product-description">
              <div class="product-category pl-2">{{item.category}}</div>
              <div class="product-title pl-2">
                <h3 class="name"><a href="/shop-details/{{item.id}}">{{item.name}}</a></h3>
              </div>

              <div class="product-rate pl-2">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
              </div>
              <div class="product-reviews pr-2" style="font-size: 20px; color: red">
                <ins>{{item.price | currency:' ':'symbol':'1.0-0'}}<sup>đ</sup></ins>
              </div>
            </div>
          </div>
        </div>

      </div>
      <hr>
    </div>
  </div>
</section>
<!-- end: Shop products -->
<!-- service  -->
<!--<section class="  section-padding-100-0">-->
<!--  <div class="container background-grey">-->
<!--    <div class="row">-->
<!--      <div class="col-12">-->
<!--        &lt;!&ndash; Section Heading &ndash;&gt;-->
<!--        <div class="section-heading heading-text text-center mt-3 ">-->
<!--          <h4>Dịch Vụ Của Chúng Tôi</h4>-->
<!--          <p>Chúng tôi cung cấp dịch vụ hoàn hảo cho bạn.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="row justify-content-between">-->
<!--      <div class="col-12 col-lg-5">-->
<!--        <div class="offset-1 m-t-40 mb-100">-->

<!--          &lt;!&ndash; Single Service  &ndash;&gt;-->
<!--          <div class="mb-5 d-flex align-items-center ">-->
<!--            &lt;!&ndash; Icon &ndash;&gt;-->
<!--            <div class=" mr-30 ">-->
<!--              <img src="../../../assets/img/s1.png" alt="">-->
<!--            </div>-->
<!--            &lt;!&ndash; Content &ndash;&gt;-->
<!--            <div class="ml-4">-->
<!--              <h5>Chăm sóc cây trồng</h5>-->
<!--              <p>Cắt cỏ, làm sạch cỏ, tưới nước, bón phân, phun thuốc trừ sâu cho cây được tươi tốt. </p>-->
<!--            </div>-->
<!--          </div>-->

<!--          &lt;!&ndash; Single Service &ndash;&gt;-->
<!--          <div class=" mb-5 d-flex align-items-center ">-->
<!--            &lt;!&ndash; Icon &ndash;&gt;-->
<!--            <div class=" mr-30">-->
<!--              <img src="../../../assets/img/s2.png" alt="">-->
<!--            </div>-->
<!--            &lt;!&ndash; Content &ndash;&gt;-->
<!--            <div class="ml-4">-->
<!--              <h5>Phun rửa áp lực cao</h5>-->
<!--              <p> Với máy phun rửa áp lực cao sẽ giúp làm sạch các vết bẩn trên đồ đạc ngoài sân vườn do hậu quả ô nhiễm-->
<!--                không khí...</p>-->
<!--            </div>-->
<!--          </div>-->

<!--          &lt;!&ndash; Single Service &ndash;&gt;-->
<!--          <div class=" mb-5 d-flex align-items-center">-->
<!--            <div class=" mr-30">-->
<!--              <img src="../../../assets/img/s3.png" alt="">-->
<!--            </div>-->
<!--            &lt;!&ndash; Content &ndash;&gt;-->
<!--            <div class="ml-4">-->
<!--              <h5>Dịch vụ cắt tỉa cây</h5>-->
<!--              <p> Cắt tỉa cây xanh, uốn sửa, tạo dáng cây cảnh.</p>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-12 col-lg-6 m-t-40">-->
<!--        <iframe width="560" height="315" src="https://www.youtube.com/embed/saaFoK-osDU" frameborder="0"-->
<!--                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--                allowfullscreen></iframe>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!-- end: service -->
<!--delivery info-->
<section class=" p-t-40 p-b-0 m-t-40 ">
  <div class="container  " style="width: 85%;">
    <div class="row ">
      <div class="col-lg-4">
        <div class="icon-box effect small clean">
          <div class="icon mt-4">
            <a href="#"><img src="../../../assets/img/free_shipping.png" alt=""></a>
          </div>
          <h5>Giao hàng miễn phí</h5>
          <p>Miễn phí vận chuyển trên toàn thế giới<br>
            cho tất cả đơn đặt hàng trên 150.000<br>
            nghìn đồng</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="icon-box effect small clean">
          <div class="icon mt-4">
            <a href="#"><img src="../../../assets/img/payment_secure.png" alt=""></a>
          </div>
          <h5>Thanh toán an toàn</h5>
          <p>Với cổng thanh toán của chúng tôi, đừng <br>
            lo lắng về thông tin của bạn</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="icon-box effect small clean">
          <div class="icon mt-4">
            <a href="#"><img src="../../../assets/img/returns.png" alt=""></a>
          </div>
          <h5>Dịch vụ thân thiện</h5>
          <p>Đảm bảo bạn có thể trả lại hàng trong 30<br>
            ngày cho mọi đơn hàng.</p>

        </div>
      </div>
    </div>
  </div>
</section>
<!--         end delivery info-->
<section id="section4" class="">
  <div class="container">
    <div class="heading-text heading-section text-center m-b-40">
      <h4 class="m-b-0">Tin Mới Nhất</h4>
      <hr style="width: 10%;margin-left:45%; border: #39a02d solid 1px;">
    </div>
    <div id="blog">

      <!-- Blog post-->
      <div id="blog1" class="grid-layout post-4-columns m-b-30" data-item="post-item" >

        <!-- Post item-->
        <div class="post-item border" *ngFor="let item1 of listBlog| paginate: { itemsPerPage: 4, currentPage: p, id: id  }">
          <div class="post-item-wrap">
            <div class="post-image">
              <a href="#">
                <img alt="" src="{{item1.imgBlog}}">
              </a>
            </div>
            <div class="post-item-description">
<!--              <span class="post-meta-date"><i class="fa fa-calendar-o"></i>{{item1.createdAt | date:'dd-MM-yyyy':'VI'}}</span>-->
<!--              <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>-->
              <h2 class="post-summary1"><a href="#">{{item1.blogTitle}}
              </a></h2>
              <p class="post-summary">{{item1.description}}</p>

              <a href="/blog/detail/{{item1.id}}" class="item-link">Xem thêm <i class="fa fa-arrow-right"></i></a>

            </div>
          </div>
        </div>
        <!-- end: Post item-->
      </div>
      <!-- end: Blog post-->
    </div>
  </div>
</section>
