  <div id="slider" class="inspiro-slider slider-halfscreen dots-creative " >
            <!-- Slide 2 -->
            <div class="slide kenburns" style="background-image:url('../../../assets/img/slider-2.jpeg');">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="slide-captions text-center text-light">
                        <!-- Captions -->
                        <h1>Giới thiệu về Cactus</h1>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <!-- end: Slide 2 -->

        </div>
        <!--end: Inspiro Slider -->
        <section >
            <div class="container ml-4 ">
                <div class="row justify-content-between m-b-60">
                    <div class="col-12 col-lg-7">
                        <!-- Section Heading -->
                        <div class="section-heading mb-3 ">
                            <h2>Thực vật giúp chúng ta hạnh phúc hơn, khỏe mạnh hơn.</h2>
                        </div>
                        <p>Cactus là một điểm đến của các loại cây cảnh mới lạ và độc đáo cho những người yêu thích thực vật.Thực vật giúp chúng ta hạnh phúc hơn, khỏe mạnh hơn, hiệu quả hơn và thúc đẩy sự sáng tạo của chúng ta. Chúng thậm chí còn làm sạch không khí mà chúng ta hít thở. Nhưng tất cả cuộc sống ở thành phố hiện đại của chúng ta đều có chúng ta ở trong nhà rất nhiều. Vì vậy, chúng tôi nghĩ: tại sao không mang ngoài trời vào? Chúng tôi nghĩ rằng mọi người đều xứng đáng có một ốc đảo thực vật của riêng mình. Và, chúng tôi nghĩ rằng việc tìm kiếm nhà máy mới của bạn sẽ rất dễ dàng.</p>
                        <!-- Progress Bar Content Area -->

                    </div>

                    <div class="col-12 col-lg-5">
                        <img src="../../../assets/img/about-2.jpeg" alt="">
                    </div>
                </div>
                <div class="row justify-content-between">


                    <div class="col-12 col-lg-5">
                        <img src="../../../assets/img/about-1.jpeg" alt="">
                    </div>

                    <div class="col-12 col-lg-7">
                        <!-- Section Heading -->
                        <div class="section-heading mb-4 ">
                            <h2>Dịch vụ thân thiện</h2>
                        </div>
                        <p>Chúng tôi giúp việc mua cây trở nên dễ dàng bằng cách giao những cây khỏe mạnh, sẵn sàng mang đi đến tận nhà và thiết lập cho bạn những mẹo và thủ thuật cần thiết để giúp cây phát triển mạnh. Thực vật làm cho cuộc sống tốt hơn. Chúng tôi làm cho cây dễ dàng.</p>
                        <!-- Progress Bar Content Area -->

                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="border-line"></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- service  -->
        <section class="  section-padding-100-0">
            <div class="container background-grey">
                <div class="row">
                    <div class="col-12">
                        <!-- Section Heading -->
                        <div class="section-heading text-center mt-3 ">
                            <h2>Dịch Vụ Của Chúng Tôi</h2>
                            <p>Chúng tôi cung cấp dịch vụ hoàn hảo cho bạn.</p>
                        </div>
                    </div>
                </div>
    
                <div class="row justify-content-between">
                    <div class="col-12 col-lg-5">
                        <div class="offset-1 m-t-40 mb-100">
    
                            <!-- Single Service  -->
                            <div class="mb-5 d-flex align-items-center ">
                                <!-- Icon -->
                                <div class=" mr-30 ">
                                    <img src="../../../assets/img/s1.png" alt="">
                                </div>
                                <!-- Content -->
                                <div class="ml-4">
                                    <h5>Chăm sóc cây trồng</h5>
                                    <p>Cắt cỏ, làm sạch cỏ, tưới nước, bón phân, phun thuốc trừ sâu cho cây được tươi tốt. </p>
                                </div>
                            </div>
    
                            <!-- Single Service -->
                            <div class=" mb-5 d-flex align-items-center ">
                                <!-- Icon -->
                                <div class=" mr-30">
                                    <img src="../../../assets/img/s2.png" alt="">
                                </div>
                                <!-- Content -->
                                <div class="ml-4">
                                    <h5>Phun rửa áp lực cao</h5>
                                    <p> Với máy phun rửa áp lực cao sẽ giúp làm sạch các vết bẩn trên đồ đạc ngoài sân vườn do hậu quả ô nhiễm không khí...</p>
                                </div>
                            </div>
    
                            <!-- Single Service -->
                            <div class=" mb-5 d-flex align-items-center">
                                <div class=" mr-30">
                                    <img src="../../../assets/img/s3.png" alt="">
                                </div>
                                <!-- Content -->
                                <div class="ml-4">
                                    <h5>Dịch vụ cắt tỉa cây</h5>
                                    <p> Cắt tỉa cây xanh, uốn sửa, tạo dáng cây cảnh.</p>
                                </div>
                            </div>
    
                        </div>
                    </div>
    
                    <div class="col-12 col-lg-6 m-t-40">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/saaFoK-osDU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: service -->

        <section>
            <div class="container">
                <div class="heading-text text-center">
                    <h3>Phản hồi của người dùng</h3>
                    </div>
                <!-- Testimonials -->
                <div class="carousel arrows-visibile testimonial testimonial-single testimonial-left" data-items="1">

                    <!-- Testimonials item -->
                    <div class="testimonial-item">
                        <img src="../../../assets/img/13.jpg" alt="">
                        <p>Ý tưởng của họ rất sáng tạo, họ đưa ra các giải pháp đầy trí tưởng tượng cho một số vấn đề phức tạp, các mối liên hệ về cảnh quan và trồng trọt của họ cũng tuyệt vời như nhau, kết quả là chúng ta có một khu vườn đẹp nhưng cũng dễ quản lý.</p>
                        <span>Mr. Nick Jonas</span>
                        <span>CEO of NAVATECH</span>

                    </div>
                    <!-- end: Testimonials item-->

                    <!-- Testimonials item -->
                    <div class="testimonial-item">
                        <img src="../../../assets/img/14.jpg" alt="">
                        <p>Ý tưởng của họ rất sáng tạo, họ đưa ra các giải pháp đầy trí tưởng tượng cho một số vấn đề phức tạp, các mối liên hệ về cảnh quan và trồng trọt của họ cũng tuyệt vời như nhau, kết quả là chúng ta có một khu vườn đẹp nhưng cũng dễ quản lý.</p>
                        <span>Mr. Nazrul Islam</span>
                        <span>CEO of NAVATECH</span>
                    </div>
                    <!-- end: Testimonials item-->

                    <!-- Testimonials item -->
                    <div class="testimonial-item">
                        <img src="../../../assets/img/15.jpg" alt="">
                        <p>Ý tưởng của họ rất sáng tạo, họ đưa ra các giải pháp đầy trí tưởng tượng cho một số vấn đề phức tạp, các mối liên hệ về cảnh quan và trồng trọt của họ cũng tuyệt vời như nhau, kết quả là chúng ta có một khu vườn đẹp nhưng cũng dễ quản lý.</p>
                        <span>Mr. Jonas Nick</span>
                        <span>CEO of NAVATECH</span>
                    </div>
                    <!-- end: Testimonials item-->

                </div>
                <!-- end: Testimonials -->
            </div>
        </section>

        <section class="background-grey">
            <div class="container">
                <div class="heading-text heading-section text-center">
                    <h2>Đội ngũ nhân viên</h2>
                </div>
                <div class="row team-members team-members-shadow m-b-40">
                    <div class="col-lg-3">
                        <div class="team-member">
                            <div class="team-image">
                                <img src="../../../assets/img/team1.png">
                            </div>
                            <div class="team-desc">
                                <h3>Joseph Corbin</h3>
                                <span>CEO & Founder</span>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-slide btn-light" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                        <span>Facebook</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                                        <i class="fab fa-twitter"></i>
                                        <span>Twitter</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                                        <i class="fab fa-instagram"></i>
                                        <span>Instagram</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                                        <i class="icon-mail"></i>
                                        <span>Mail</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member">
                            <div class="team-image">
                                <img src="../../../assets/img/team2.png">
                            </div>
                            <div class="team-desc">
                                <h3>Tasha Deserio</h3>
                                <span>Thiết kế sân vườn</span>
                                <div class="align-center">
                                    <a class="btn btn-xs btn-slide btn-light" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                        <span>Facebook</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                                        <i class="fab fa-twitter"></i>
                                        <span>Twitter</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                                        <i class="fab fa-instagram"></i>
                                        <span>Instagram</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                                        <i class="icon-mail"></i>
                                        <span>Mail</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member">
                            <div class="team-image">
                                <img src="../../../assets/img/team3.png">
                            </div>
                            <div class="team-desc">
                                <h3>Cody Baker</h3>
                                <span>Quản lí cây cảnh</span>
                               <div class="align-center">
                                    <a class="btn btn-xs btn-slide btn-light" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                        <span>Facebook</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                                        <i class="fab fa-twitter"></i>
                                        <span>Twitter</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                                        <i class="fab fa-instagram"></i>
                                        <span>Instagram</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                                        <i class="icon-mail"></i>
                                        <span>Mail</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member">
                            <div class="team-image">
                                <img src="../../../assets/img/team4.png">
                            </div>
                            <div class="team-desc">
                                <h3>Pearl Kansas</h3>
                                <span>Quản lí cây cảnh</span>
                               <div class="align-center">
                                    <a class="btn btn-xs btn-slide btn-light" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                        <span>Facebook</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                                        <i class="fab fa-twitter"></i>
                                        <span>Twitter</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                                        <i class="fab fa-instagram"></i>
                                        <span>Instagram</span>
                                    </a>
                                    <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                                        <i class="icon-mail"></i>
                                        <span>Mail</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>