<div class="row">
  <div class="col-lg-7 center p-30 background-white b-r-6 mt-5">
    <div class="col-lg-12 m-t-10 mb-4 text-center">
      <h3>Thay đổi thông tin</h3>
    </div>
    <form [formGroup]="editForm" (ngSubmit)="edit()">
      <div class="col-lg-12 form-group ">
        <div class="row">
          <div class="col-5">
            <label for="inputName">Tên Cây <span class="text-danger">*</span></label>
            <input type="text" formControlName="name" id="inputName" class="form-control"
                   [(ngModel)]="tree.name"  [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Tên không hợp lệ</div>
            </div>
          </div>
          <div class="col-4">
            <label for="inputPrice">Giá <span class="text-danger">*</span></label>
            <input type="text" formControlName="price" id="inputPrice" class="form-control"
                   [(ngModel)]="tree.price"   [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
            <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
              <div *ngIf="f.price.errors.required">Giá không hợp lệ</div>
            </div>
          </div>
          <div class="col-3">
            <label for="inputQuantity">Số lượng <span class="text-danger">*</span></label>
            <input type="number" formControlName="quantity" id="inputQuantity" class="form-control"
                   [(ngModel)]="tree.quantity" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }">
            <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
              <div *ngIf="f.quantity.errors.required">không hợp lệ</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 form-group">
        <label for="categories">Danh mục <span class="text-danger">*</span></label>
        <select class="" multiple=""
                formControlName="categories" id="categories"
                [ngClass]="{ 'is-invalid': submitted && f.categories.errors }">
          <option [value]="item.id" *ngFor="let item of listCategory">{{item.name}}</option>
        </select>
        <div *ngIf="submitted && f.categories.errors" class="invalid-feedback">
          <div *ngIf="f.categories.errors.required">không hợp lệ</div>
        </div>
      </div>
      <div class="col-lg-12 form-group ">
        <label for="inputDescription">Mô tả <span class="text-danger">*</span></label>
        <textarea name="textarea" formControlName="description" id="inputDescription" class="form-control"
                  [(ngModel)]="tree.description"     [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">Không hợp lệ</div>
        </div>
      </div>
      <div class="col-lg-12 form-group ">
        <label for="inputDetails">Chi tiết <span class="text-danger">*</span></label>
        <textarea name="textarea" formControlName="detail" id="inputDetails" class="form-control"
                  [(ngModel)]="tree.detail"   [ngClass]="{ 'is-invalid': submitted && f.detail.errors }"></textarea>
        <div *ngIf="submitted && f.detail.errors" class="invalid-feedback">
          <div *ngIf="f.detail.errors.required">Không hợp lệ</div>
        </div>
      </div>
      <div class="col-lg-12 form-group ">
        <label for="inputImage">Ảnh <span class="text-danger">*</span> </label>
        <div class="file-field">
          <div class="row ml-3">
            <div class="mt-2">
              <img src="{{url}}" alt="" style="width:40%; ">
            </div>
            <div class="d-flex " style="margin-left: 70%;">
              <div class="button_outer">
                <div class="btn_upload">
                  Thêm ảnh
                  <input type="file" formControlName="image" id="inputImage" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.image.errors }"
                         (change)="uploadFile($event.target.files)">
                  <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                    <div *ngIf="f.image.errors.required">Không hợp lệ</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 form-group">
        <label for="inputImageDetail">Ảnh chi tiết <span class="text-danger">*</span> </label>
        <div class="file-field">
          <div class="row ml-3">
            <div class="mt-2">
              <img src="{{urlDetail}}" alt="" style="width:40%;">
            </div>
            <div class="d-flex" style=" margin-left: 70%;">
              <div class="button_outer">
                <div class="btn_upload">
                  Thêm ảnh
                  <input type="file" formControlName="imageDetail" id="inputImageDetail" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.imageDetail.errors }"
                         (change)="uploadFile1($event.target.files)">
                  <div *ngIf="submitted && f.imageDetail.errors" class="invalid-feedback">
                    <div *ngIf="f.imageDetail.errors.required">Không hợp lệ</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-lg-12 form-group mt-5">
        <div class="row">
          <div class="col-6">
            <button [disabled]="loading" class="btn btn-primary" style="width: 100%;">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Tạo mới
            </button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-danger " style="width: 100%;">Hủy bỏ</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
