<section id="page-title" style="background-image:url('../../../assets/img/slider-4.jpeg'); height: 270px;">
</section>
<!-- end: Page title -->
<!-- Shop products -->
<section id="page-content" class="sidebar-left background-grey p-t-60">
  <div class="container-wide m-b-50">
    <div class="row">
      <!-- Content-->
      <div class="content col-lg-10">
        <div class="row m-b-20">
          <div class="col-lg-7 row">
            <h5 class="pl-2 pt-2 mr-2">Sắp xếp theo :</h5>
            <button type="button" class="btn btn-outline ">Phổ biến</button>
            <button type="button" class="btn btn-outline ">Mới nhất</button>
            <button type="button" class="btn btn-outline ">Bán chạy</button>
          </div>
          <div class="col-lg-4">
            <div class="order-select">
              <select class="form-control" id="sort-by" (change)="sortByPrice($event.target.value)">
<!--                <option selected="selected" value="order">Giá</option>-->
                <option value="1">Giá: Thấp đến cao</option>
                <option value="2">Giá: Cao đến thấp</option>
              </select>
            </div>
          </div>
        </div>
        <!--Product list-->
        <div class="shop ">
          <div class="grid-layout grid-4-columns " data-item="grid-item" >
            <div class="grid-item mb-5"  *ngFor="let item of listTree | paginate: { itemsPerPage: 12, currentPage: p, id: id  }"
                 [routerLink]="['/shop-details']" [queryParams]="{id:item.id}">
              <div class="border p-2 m-b-40 m-l-15">
                <div class="product">
                  <div class="product-image">
                    <a href="/shop-details/{{item.id}}"><img alt="ảnh sản phẩm" src="{{item.image}}">
                    </a>
                    <!--                                    <a [routerLink]="['/shop-details',item.id]" ><img alt="ảnh sản phẩm" src="{{item.image}}">-->
                    <!--                                    </a>-->
                    <span class="product-wishlist">
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                    </span>
                    <div class="product-overlay row ml-0">
                      <a href="/shop-details/{{item.id}}" class="col-6 border-right"><i
                        class="fa fa-eye btn-white"></i></a>
                      <a (click)="addToCart(item.id)" class="col-6"><i class="fa fa-shopping-bag"
                                                                       style="color: white;"></i></a>
                    </div>
                  </div>
                  <div class="product-description">
                    <div class="product-category pl-2">{{item.category}}</div>
                    <div class="product-title pl-2">
                      <h3 class="name"><a href="/shop-details/{{item.id}}">{{item.name}}</a></h3>
                    </div>

                    <div class="product-rate pl-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                    </div>
                    <br>
                    <div class="product-reviews pr-2" style="font-size: 20px; color: red">
                      <ins>{{item.price | currency:' ':'symbol':'1.0-0'}}<sup>đ</sup></ins>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="m-t-40">
          <pagination-controls maxSize="5" *ngIf="listTree.length > 4"
                               style="text-align: right;" [id]="id" (pageChange)="p = $event">
          </pagination-controls>
        </div>
        <!--End: Product list-->

      </div>
      <!-- end: Content-->
      <!-- Sidebar-->
      <div class="sidebar col-2 background-white" style="height: 850px;">
        <!--widget newsletter-->
        <div class="widget clearfix widget-archive">
          <div class="border-bottom border-success mb-5">
            <h4 class=" text-center pt-2 pb-2 "
            >Bộ lọc tìm kiếm</h4>
            <!--widget newsletter-->
          </div>
          <h4 class="widget-title">Loại Cây</h4>
          <div class="widget-desc hover-active" *ngFor="let item of listCategory">
            <h5 (click)="findTreeByCategoryId(item.id)" class="highlight-colored" > {{item.name}} </h5>

            <!-- Single Checkbox -->
            <!--            <div *ngFor="let item of listCategory"-->
            <!--                 class="custom-control custom-checkbox d-flex align-items-center mb-3">-->
            <!--              <input type="checkbox" class="custom-control-input " id="categoryCheck1" style="color: #237335"-->
            <!--                     (click)="findTreeByCategoryId(item.id)">-->
            <!--              <a class="custom-control-label" for="categoryCheck1">-->
            <!--                {{item.name}}-->
            <!--                <span class="text-muted"></span></a>-->
            <!--            </div>-->
          </div>
        </div>
        <div class="widget widget-shop m-b-40">
          <div class="range-color-success">
            <h4 class="widget-title">Giá</h4>
            <input type="hidden" id="range_slider"/>
          </div>
        </div>
        <button class="btn btn-light-hover btn-success w-75 m-l-30 "> Xóa Tất cả</button>

      </div>
      <!-- end: Sidebar-->
    </div>
  </div>
</section>
<!-- end: Shop products -->
<section>
  <div class="container">
    <div class="row col-lg-12 ">
      <h4 class=" col-lg-9">Sản Phẩm Nổi Bật</h4>
      <div class="breadcrumb  col-lg-3 ">
        <a href="/shop" class="active  "><p style="font-size: 18px; margin-left: 70%;">Tất cả >></p></a>
      </div>
    </div>
    <div class="grid-articles carousel post-carousel" data-items="5" data-dots="false">
      <article class="post-entry" *ngFor="let item of listTreeFix" [routerLink]="['/shop-details']"
               [queryParams]="{id:item.id}">
        <a href="/shop-details/{{item.id}}" class="post-image"><img alt="" src="{{item.image}}"></a>
        <div class="post-entry-overlay">
          <div class="post-entry-meta">
            <div class="product-description">
              <div class="product-category">{{item.category}}</div>
              <div class="product-title">
                <h3 class="name"><a href="/shop-details/{{item.id}}" >{{item.name}}</a></h3>
              </div>
              <div class="product-price">
                <ins>{{item.price | currency:' ':'symbol':'1.0-0'}}<sup>đ</sup></ins>
              </div>

              <div class="product-rate">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
              </div>
            </div>

          </div>
        </div>
      </article>

    </div>
  </div>
</section>

