<section id="page-title" style="background-image:url('../../../assets/img/slider-4.jpeg'); height: 270px;">
</section>
<!-- end: Page title -->
<!-- Shop products -->
<section id="page-content" class="sidebar-left background-grey p-t-60">
    <div class="container-wide">
        <div class="row">
            <!-- Content-->
            <div class="content col-lg-9">
                <div class="row m-b-20">
                    <div class="col-lg-7 row">
                        <h5 class="pl-2 pt-2 mr-2">Sắp xếp theo :</h5>
                        <button type="button" class="btn btn-outline ">Phổ biến</button>
                        <button type="button" class="btn btn-outline ">Mới nhất</button>
                        <button type="button" class="btn btn-outline ">Bán chạy</button>
                    </div>
                    <div class="col-lg-4">
                        <div class="order-select">
                            <form method="get">
                                <select class="form-control">
                                    <option selected="selected" value="order">Giá</option>
                                    <option value="popularity">Giá: Thấp đến cao</option>
                                    <option value="rating">Giá: Cao đến thấp</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
                <!--Product list-->
                <div class="shop">
                    <div class="grid-layout grid-4-columns" data-item="grid-item">
                        <div class="grid-item" *ngFor="let item of listTree | paginate: { itemsPerPage: 6, currentPage: p, id: id  }"   [routerLink]="['/shop-details']"  [queryParams]="{id:item.id}">
                            <div class="product"  >
                                <div class="product-image">
                                    <a  [routerLink]="['/shop-details',item.id]" ><img alt="Shop product image!" src="../../../assets/img/product.jpeg">
                                    </a>
                                    <a [routerLink]="['/shop-details',item.id]" ><img alt="Shop product image!" src="../../../assets/img/product.jpeg">
                                    </a>
                                    <span class="product-new">NEW</span>
                                    <span class="product-wishlist">
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                    </span>
                                    <div class="product-overlay">
                                        <a data-lightbox="ajax">Xem nhanh</a>
                                    </div>
                                </div>
                                <div class="product-description">
                                    <div class="product-category">Cây nội thất</div>
                                    <div class="product-title">
                                        <h3><a  [routerLink]="['/shop-details',item.id]" >{{item.name}}</a></h3>
                                    </div>
                                    <div class="product-price"><ins>{{item.price}}</ins>
                                    </div>
                                    <div class="product-rate">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                    <div class="product-reviews"><a href="#">6 customer reviews</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <hr>
                    <!-- Pagination -->
                    <pagination-controls maxSize="5"  *ngIf="listTree.length > 6"
                        style="text-align: right" [id]="id" (pageChange)="p = $event">
                    </pagination-controls>
                    <!-- <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item active"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul> -->
                    <!-- end: Pagination -->
                </div>
                <!--End: Product list-->
            </div>
            <!-- end: Content-->
            <!-- Sidebar-->
            <div class="sidebar col-lg-3 background-white">
                <!--widget newsletter-->
                <div class="widget clearfix widget-archive">
                    <div class="border-bottom border-success mb-5" >
                        <h4 class=" text-center pt-2 pb-2 "
                          >Bộ lọc tìm kiếm</h4>
                        <!--widget newsletter-->
                    </div>
                    <h4 class="widget-title">Loại Cây</h4>
                    <div class="widget-desc">
                        <!-- Single Checkbox -->
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" class="custom-control-input" id="categoryCheck1">
                            <label class="custom-control-label" for="categoryCheck1">Tất Cả Các Cây <span class="text-muted">(72)</span></label>
                        </div>
                        <!-- Single Checkbox -->
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" class="custom-control-input " id="categoryCheck2">
                            <label class="custom-control-label " for="categoryCheck2">Cây Ban Công<span class="text-muted">(20)</span></label>
                        </div>
                        <!-- Single Checkbox -->
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" class="custom-control-input" id="categoryCheck3">
                            <label class="custom-control-label" for="categoryCheck3">Cây Dây Leo<span class="text-muted">(15)</span></label>
                        </div>
                        <!-- Single Checkbox -->
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" class="custom-control-input" id="categoryCheck4">
                            <label class="custom-control-label" for="categoryCheck4">Cây Văn Phòng<span class="text-muted">(20)</span></label>
                        </div>
                        <!-- Single Checkbox -->
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" class="custom-control-input" id="categoryCheck5">
                            <label class="custom-control-label" for="categoryCheck5">Cây Để Bàn<span class="text-muted">(2)</span></label>
                        </div>
                        <!-- Single Checkbox -->
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" class="custom-control-input" id="categoryCheck6">
                            <label class="custom-control-label" for="categoryCheck6">Cây Thủy Sinh<span class="text-muted">(15)</span></label>
                        </div>
                        <!-- Single Checkbox -->
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" class="custom-control-input" id="categoryCheck7">
                            <label class="custom-control-label" for="categoryCheck7">Cây Nội Thất<span class="text-muted">(2)</span></label>
                        </div>
                        <!-- Single Checkbox -->
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" class="custom-control-input" id="categoryCheck8">
                            <label class="custom-control-label" for="categoryCheck8">Cây Ngoại Thất<span class="text-muted">(2)</span></label>
                        </div>
                        <!-- Single Checkbox -->
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" class="custom-control-input" id="categoryCheck9">
                            <label class="custom-control-label" for="categoryCheck9">Sen Đá<span class="text-muted">(2)</span></label>
                        </div>
                        <!-- Single Checkbox -->
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" class="custom-control-input" id="categoryCheck10">
                            <label class="custom-control-label" for="categoryCheck10">Xương Rồng<span class="text-muted">(2)</span></label>
                        </div>
                    </div>
                </div>
                <div class="widget widget-shop">
                    <h4 class="widget-title">Chiều cao cây</h4>
                    <div class="widget-desc">
                        <!-- Single Checkbox -->
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3 ">
                            <input type="checkbox" class="custom-control-input" id="heightCheck1">
                            <label class="custom-control-label" for="heightCheck1">Trung Bình / 50cm-1m<span class="text-muted">(72)</span></label>
                        </div>
                        <!-- Single Checkbox -->
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" class="custom-control-input " id="heightCheck2">
                            <label class="custom-control-label " for="heightCheck2">Nhỏ / 15cm-50cm<span class="text-muted">(20)</span></label>
                        </div>
                        <!-- Single Checkbox -->
                        <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                            <input type="checkbox" class="custom-control-input" id="heightCheck3">
                            <label class="custom-control-label" for="heightCheck3">Rất nhỏ / 0-15cm<span class="text-muted">(15)</span></label>
                        </div>
                    </div>
                </div>
                <div class="widget widget-shop m-b-40">
                    <div class="range-color-success">
                        <h4 class="widget-title">Giá</h4>
                        <input type="hidden" id="range_slider"/>
                    </div>
                </div>
                <button class="btn btn-light-hover btn-success w-75 m-l-30 "> Xóa Tất cả</button>

            </div>
            <!-- end: Sidebar-->
        </div>
    </div>
</section>
<!-- end: Shop products -->
<section >
<div class="container">
<div class="row col-lg-12 ">
    <h4 class=" col-lg-9">Sản Phẩm Nổi Bật</h4>
    <div class="breadcrumb  col-lg-3 " >
      <a href="#" class="active  "><p style="font-size: 18px; margin-left: 70%;">Tất cả >></p></a>
    </div>
</div>
<div class="carousel" data-items="5">
    <div class="product">
        <div class="product-image">
            <a href="#"><img alt="Shop product image!" src="../../../assets/img/product.jpeg"></a>
            <a href="#"><img alt="Shop product image!" src="../../../assets/img/product.jpeg"></a>
            <span class="product-new">NEW</span>
            <span class="product-wishlist">
                                <a href="#"><i class="fa fa-heart"></i></a>
                            </span>
            <div class="product-overlay">
                <a href="shop-product-ajax-page.html" data-lightbox="ajax">Quick View</a>
            </div>
        </div>
        <div class="product-description">
            <div class="product-category">Women</div>
            <div class="product-title">
                <h3><a href="#">Bolt Sweatshirt</a></h3>
            </div>
            <div class="product-price"><ins>$15.00</ins>
            </div>
            <div class="product-rate">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <div class="product-reviews"><a href="#">6 customer reviews</a>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-image">
            <a href="#"><img alt="Shop product image!" src="../../../assets/img/product.jpeg"></a>
            <a href="#"><img alt="Shop product image!" src="../../../assets/img/product.jpeg"></a>
            <span class="product-wishlist">
                                <a href="#"><i class="fa fa-heart"></i></a>
                            </span>
            <div class="product-overlay">
                <a href="shop-product-ajax-page.html" data-lightbox="ajax">Quick View</a>
            </div>
        </div>
        <div class="product-description">
            <div class="product-category">Women</div>
            <div class="product-title">
                <h3><a href="#">Consume Tshirt</a></h3>
            </div>
            <div class="product-price"><ins>$39.00</ins>
            </div>
            <div class="product-rate">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <div class="product-reviews"><a href="#">3 customer reviews</a>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-image">
            <a href="#"><img alt="Shop product image!" src="../../../assets/img/product.jpeg"></a>
            <a href="#"><img alt="Shop product image!" src="../../../assets/img/product.jpeg"></a>
            <span class="product-hot">HOT</span>
            <span class="product-wishlist">
                                <a href="#"><i class="fa fa-heart"></i></a>
                            </span>
            <div class="product-overlay">
                <a href="shop-product-ajax-page.html" data-lightbox="ajax">Quick View</a>
            </div>
        </div>
        <div class="product-description">
            <div class="product-category">Man</div>
            <div class="product-title">
                <h3><a href="#">Logo Tshirt</a></h3>
            </div>
            <div class="product-price"><ins>$39.00</ins>
            </div>
            <div class="product-rate">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <div class="product-reviews"><a href="#">3 customer reviews</a>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-image">
            <a href="#"><img alt="Shop product image!" src="../../../assets/img/product.jpeg"></a>
            <a href="#"><img alt="Shop product image!" src="../../../assets/img/product.jpeg"></a>
            <span class="product-wishlist">
                                <a href="#"><i class="fa fa-heart"></i></a>
                            </span>
            <div class="product-overlay">
                <a href="shop-product-ajax-page.html" data-lightbox="ajax">Quick View</a>
            </div>
        </div>
        <div class="product-description">
            <div class="product-category">Women</div>
            <div class="product-title">
                <h3><a href="#">Cotton Tshirt</a></h3>
            </div>
            <div class="product-price"><ins>$22.00</ins>
            </div>
            <div class="product-rate">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <div class="product-reviews"><a href="#">5 customer reviews</a>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-image">
            <a href="#"><img alt="Shop product image!" src="../../../assets/img/product.jpeg"></a>
            <a href="#"><img alt="Shop product image!" src="../../../assets/img/product.jpeg"></a>
            <span class="product-wishlist">
                                <a href="#"><i class="fa fa-heart"></i></a>
                            </span>
            <div class="product-overlay">
                <a href="shop-product-ajax-page.html" data-lightbox="ajax">Quick View</a>
            </div>
        </div>
        <div class="product-description">
            <div class="product-category">Man</div>
            <div class="product-title">
                <h3><a href="#">Grey Sweatshirt</a></h3>
            </div>
            <div class="product-price"><ins>$39.00</ins>
            </div>
            <div class="product-rate">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <div class="product-reviews"><a href="#">5 customer reviews</a>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-image">
            <a href="#"><img alt="Shop product image!" src="../../../assets/img/product.jpeg"></a>
            <a href="#"><img alt="Shop product image!" src="../../../assets/img/product.jpeg"></a>
            <span class="product-wishlist">
                                <a href="#"><i class="fa fa-heart"></i></a>
                            </span>
            <div class="product-overlay">
                <a href="shop-product-ajax-page.html" data-lightbox="ajax">Quick View</a>
            </div>
        </div>
        <div class="product-description">
            <div class="product-category">Women</div>
            <div class="product-title">
                <h3><a href="#">Pocket Tshirt</a></h3>
            </div>
            <div class="product-price">
                <del>$19.00</del><ins>$15.00</ins>
            </div>
            <div class="product-rate">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="product-reviews"><a href="#">5 customer reviews</a>
            </div>
        </div>
    </div>
</div>
</div>
</section>

