<section id="content" style=" height: 240px;">
    <div class="container-fluid mb-3 ml-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="widget row " style="background-image: url('../../../assets/img/banner-2.jpg'); height: 150px; border-radius: 10px; ">
                    <div class="bg-overlay" style="border-radius: 10px;"></div>
                    <div class="col-4 pl-4 pt-2">
                        <img src="{{url}}" alt=""
                             style="border-radius:50%; width:75%; border: #737272 solid 3px; margin-left: 40px;">
                    </div>
                    <div class="col-8">
                        <div class="widget-title text-white pt-4">{{getUserShopName(tree.userId)}}<br>
                        </div>

                    </div>
                    <div class=" col-12 row ">
                        <div class="col-6"><a
                                href="#"
                                class="btn btn-white btn-light-hover w-100" target="_blank">Theo dõi</a></div>
                        <div class="col-6"><a
                                href="#"
                                class="btn btn-white btn-light-hover w-100" target="_blank">Chat</a></div>
                    </div>

                </div>
            </div>
            <div class=" col-lg-8 row">
            <div class="col-lg-4">
              <div class="ml-5 pt-4" style="font-size: 18px;">
                  <div class="row mb-2">
                      <i class="icon-home  pr-2"></i>
                      <p>Sản phẩm : <span class="text-red">12</span ></p>
                  </div>
                  <div class="row mb-2">
                      <i class="icon-user-plus  pr-2"></i>
                      <p >Đang theo dõi : <span  class="text-red">12</span ></p>
                  </div>
                  <div class="row mb-2">
                      <i class="icon-message-circle  pr-2"></i>
                      <p>Tỉ lệ phản hồi chat :<span  class="text-red">100%</span ></p>
                  </div>
              </div>
            </div>
            <div class="col-lg-4">
                <div class=" ml-4 pt-4" style="font-size: 18px;">
                    <div class="row mb-2">
                        <i class="icon-file-minus  pr-2"></i>
                        <p>Tỉ lệ Shop hủy đơn : <span  class="text-red">0%</span ></p>
                    </div>
                    <div class="row mb-2">
                        <i class="icon-user  pr-2"></i>
                        <p >Người theo dõi :<span  class="text-red">12</span ></p>
                    </div>
                    <div class="row mb-2">
                        <i class="icon-star  pr-2"></i>
                        <p>Đánh giá : <span  class="text-red">12</span ></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class=" pt-4" style="font-size: 18px;">
                    <div class="row mb-2">
                        <i class="icon-user-check  pr-2"></i>
                        <p>Tham gia : <span  class="text-red">{{user.createdAt | date:'yyyy-MM-dd HH:mm:ss':'VI'}}</span ></p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

    <div class="container-wide mt-5" style="height: 420px; padding-top: 20px;">
        <h4>Thông tin shop</h4>
            <div class="row m-b-40 ">
                <div class="col-lg-5">
                    <div class="product-image"  >
                        <!-- Carousel slider -->
                        <div class="carousel dots-inside dots-dark arrows-visible" data-items="1" data-loop="true" data-autoplay="true" data-animate-in="fadeIn" data-animate-out="fadeOut" data-autoplay="2500" data-lightbox="gallery">
                            <a href="../../../assets/img/about-2.jpeg" data-lightbox="image" title="Ảnh về shop!"><img alt="Ảnh về shop" src="../../../assets/img/about.jpeg" style="width: auto; height: 380px; ">
                            </a>
                            <a href="../../../assets/img/about.jpeg" data-lightbox="image" title="Ảnh về shop"><img alt="Ảnh về shop" src="../../../assets/img/about-1.jpeg" style="width: auto; height: 380px;">
                            </a>
                        </div>
                        <!-- Carousel slider -->
                    </div>
                </div>
                <div class="col-lg-7">

                    <div class="product-description scrollbar scrollbar-default"  >
                        <div class="force-overflow">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45 BC, making it over 2000 years old.
                                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked
                                up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
                                going through the cites of the word in</p>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45 BC, making it over 2000 years old.
                                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked
                                up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
                                going through the cites of the word in</p>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45 BC, making it over 2000 years old.
                                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked
                                up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
                                going through the cites of the word in</p>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45 BC, making it over 2000 years old.
                                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked
                                up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
                                going through the cites of the word in</p>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45 BC, making it over 2000 years old.
                                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked
                                up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
                                going through the cites of the word in</p>
                        </div>

                    </div>
                </div>

            </div>
    </div>
<section>
    <div class="container-wide m-t-60">
    <div class="row col-lg-12 ">
        <h4 class=" col-lg-9">Sản Phẩm Nổi Bật</h4>
        <div class="breadcrumb  col-lg-3 " >
          <a href="/shop" class="active  "><p style="font-size: 18px; margin-left: 70%;">Tất cả >></p></a>
        </div>
    </div>
    <div class="carousel" data-items="5">
        <div class="product"  *ngFor="let item of listTree">
          <div class="product-image">
            <a  href="/shop-details/{{item.id}}" ><img alt="ảnh sản phẩm" src="{{item.image}}">
            </a>
            <!--                                    <a [routerLink]="['/shop-details',item.id]" ><img alt="ảnh sản phẩm" src="{{item.image}}">-->
            <!--                                    </a>-->
            <span class="product-wishlist">
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                    </span>
            <div class="product-overlay row ml-0">
              <a href="/shop-details/{{item.id}}" class="col-6 border-right"><i
                class="fa fa-eye btn-white"></i></a>
              <a (click)="addToCart(item.id)" class="col-6"><i class="fa fa-shopping-bag"
                                                               style="color: white;"></i></a>
            </div>
          </div>
        </div>
    </div>
    </div>
    </section>
    <section id="page-content" class="sidebar-left background-grey p-t-60 mb-5">
        <div class="container-wide">
            <div class="row">
                <!-- Content-->
                <div class="content col-lg-9">
                    <div class="row m-b-20">
                        <div class="col-lg-7 row">
                            <h5 class="pl-2 pt-2 mr-2">Sắp xếp theo :</h5>
                            <button type="button" class="btn btn-outline ">Phổ biến</button>
                            <button type="button" class="btn btn-outline ">Mới nhất</button>
                            <button type="button" class="btn btn-outline ">Bán chạy</button>
                        </div>
                        <div class="col-lg-4">
                            <div class="order-select">
                                <form method="get" ngNoForm>
                                    <select class="form-control">
                                        <option selected="selected" value="order">Giá</option>
                                        <option value="popularity">Giá: Thấp đến cao</option>
                                        <option value="rating">Giá: Cao đến thấp</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--Product list-->
                  <div class="shop">
                    <div class="grid-layout grid-4-columns" data-item="grid-item">
                      <div class="grid-item" *ngFor="let item of listTree | paginate: { itemsPerPage: 10, currentPage: p, id: id  }"   [routerLink]="['/shop-details']"  [queryParams]="{id:item.id}">
                        <div class="product mr-3"  >
                          <div class="product-image">
                            <a  href="/shop-details/{{item.id}}" ><img alt="ảnh sản phẩm" src="{{item.image}}">
                            </a>
                            <!--                                    <a [routerLink]="['/shop-details',item.id]" ><img alt="ảnh sản phẩm" src="{{item.image}}">-->
                            <!--                                    </a>-->
                            <span class="product-wishlist">
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                    </span>
                            <div class="product-overlay row ml-0">
                              <a href="/shop-details/{{item.id}}" class="col-6 border-right"><i
                                class="fa fa-eye btn-white"></i></a>
                              <a (click)="addToCart(item.id)" class="col-6"><i class="fa fa-shopping-bag"
                                                                               style="color: white;"></i></a>
                            </div>
                          </div>
                          <div class="product-description">
                            <div class="product-category pl-2">{{item.category}}</div>
                            <div class="product-title pl-2">
                              <h3 class="name"><a href="/shop-details/{{item.id}}">{{item.name}}</a></h3>
                            </div>

                            <div class="product-rate pl-2">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-half-o"></i>
                            </div>
                            <div class="product-reviews pr-2" style="font-size: 20px; color: red">
                              <ins>{{item.price}}đ</ins>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <hr>
                    <!-- Pagination -->
                    <pagination-controls maxSize="5"  *ngIf="listTree.length > 6"
                                         style="text-align: right" [id]="id" (pageChange)="p = $event">
                    </pagination-controls>

                  </div>
                    <!--End: Product list-->
                </div>
                <!-- end: Content-->
                <!-- Sidebar-->
                <div class="sidebar col-lg-3 background-white">
                    <!--widget newsletter-->
                    <div class="widget clearfix widget-archive">
                        <div class="border-bottom border-success mb-5" >
                            <h4 class=" text-center pt-2 pb-2 "
                              >Danh Mục</h4>
                            <!--widget newsletter-->
                        </div>
                        <h4 class="widget-title">Sản Phẩm</h4>
                        <div class="widget-desc">
                            <!-- Single Checkbox -->
                            <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                                <input type="checkbox" class="custom-control-input" id="categoryCheck1">
                                <label class="custom-control-label" for="categoryCheck1">Tất Cả Các Cây <span class="text-muted">(72)</span></label>
                            </div>
                            <!-- Single Checkbox -->
                            <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                                <input type="checkbox" class="custom-control-input " id="categoryCheck2">
                                <label class="custom-control-label " for="categoryCheck2">Cây Ban Công<span class="text-muted">(20)</span></label>
                            </div>
                            <!-- Single Checkbox -->
                            <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                                <input type="checkbox" class="custom-control-input" id="categoryCheck3">
                                <label class="custom-control-label" for="categoryCheck3">Cây Dây Leo<span class="text-muted">(15)</span></label>
                            </div>
                            <!-- Single Checkbox -->
                            <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                                <input type="checkbox" class="custom-control-input" id="categoryCheck4">
                                <label class="custom-control-label" for="categoryCheck4">Cây Văn Phòng<span class="text-muted">(20)</span></label>
                            </div>
                            <!-- Single Checkbox -->
                            <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                                <input type="checkbox" class="custom-control-input" id="categoryCheck5">
                                <label class="custom-control-label" for="categoryCheck5">Cây Để Bàn<span class="text-muted">(2)</span></label>
                            </div>
                            <!-- Single Checkbox -->
                            <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                                <input type="checkbox" class="custom-control-input" id="categoryCheck6">
                                <label class="custom-control-label" for="categoryCheck6">Cây Thủy Sinh<span class="text-muted">(15)</span></label>
                            </div>
                            <!-- Single Checkbox -->
                            <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                                <input type="checkbox" class="custom-control-input" id="categoryCheck7">
                                <label class="custom-control-label" for="categoryCheck7">Cây Nội Thất<span class="text-muted">(2)</span></label>
                            </div>
                            <!-- Single Checkbox -->
                            <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                                <input type="checkbox" class="custom-control-input" id="categoryCheck8">
                                <label class="custom-control-label" for="categoryCheck8">Cây Ngoại Thất<span class="text-muted">(2)</span></label>
                            </div>
                            <!-- Single Checkbox -->
                            <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                                <input type="checkbox" class="custom-control-input" id="categoryCheck9">
                                <label class="custom-control-label" for="categoryCheck9">Sen Đá<span class="text-muted">(2)</span></label>
                            </div>
                            <!-- Single Checkbox -->
                            <div class="custom-control custom-checkbox d-flex align-items-center mb-3">
                                <input type="checkbox" class="custom-control-input" id="categoryCheck10">
                                <label class="custom-control-label" for="categoryCheck10">Xương Rồng<span class="text-muted">(2)</span></label>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end: Sidebar-->
            </div>
        </div>
    </section>
