
        <!-- Shop products -->
        <section id="product-page" class="product-page p-b-0">
            <div class="container">
                <div class="product">
                    <div class="row m-b-40">
                        <div class="col-lg-5">
                            <div class="product-image">
                                <!-- Carousel slider -->
                                <div class="carousel dots-inside dots-dark arrows-visible" data-items="1" data-loop="true" data-autoplay="true" data-animate-in="fadeIn" data-animate-out="fadeOut" data-autoplay="2500" data-lightbox="gallery">
                                    <a href="{{tree.image}}" data-lightbox="image" ><img alt="Shop product image!" src="{{tree.image}}">
                                    </a>
                                    <a href="{{tree.image}}" data-lightbox="image" ><img alt="Shop product image!" src="{{tree.image}}">
                                    </a>
                                </div>
                                <!-- Carousel slider -->
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="product-description" *ngIf="tree">
                                <div class="product-category">{{tree.category}}</div>
                                <div class="product-title">
                                    <h3><a href="#">{{tree.name}}</a></h3>
                                </div>
                                <div class="product-price"><ins style="color: red;">{{tree.price}}đ</ins>
                                </div>
                                <div class="product-rate">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                                <div class="seperator m-b-10"></div>
                                <p>{{tree.description}}</p>
                                <div class="product-meta">
                                </div>
                                <div class="seperator m-t-20 m-b-10"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h6>Số lượng</h6>
                                    <div class="cart-product-quantity">
                                        <div class="quantity m-5">
                                            <input onclick="minus()" type="button" class="minus" value="-">
                                            <input  id="quantity" type="text" class="qty " value="{{tree.quantity}}">
                                            <input onclick="plus()" type="button" class="plus " value="+">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <a class="btn" (click)="addToCart(tree.id)" ><i class="icon-shopping-cart"></i> Thêm vào giỏi hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" mb-3 ml-2 background-grey pt-4">
                        <div class="row">
                            <div class=" container-fluid col-lg-4">
                                <div class="widget row ">
                                    <div class="col-4 pl-4 pt-2">
                                        <img src="{{url}}" alt=""
                                             style="border-radius:50%; width:80%; border: #737272 solid 3px;margin-left: 40px; margin-top: 20px;">
                                    </div>
                                    <div class="col-8">
                                        <div class="widget-title pt-4">{{user.shopName}}<br>
                                            <p>Online 3 giờ trước</p>
                                        </div>

                                        <div class=" col-12 row">
                                            <div class="col-7"><a
                                                    href="#"
                                                    class="btn btn-light btn-shadow w-100 " target="_blank">Chat ngay</a>
                                            </div>
                                            <div class="col-5"><a
                                                    routerLink="/shop-seller"
                                                    class="btn btn-light btn-shadow " target="_blank"
                                                    style="width: 100px;">Xem shop</a>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                            <div class=" col-lg-8 row">
                            <div class="col-lg-4">
                              <div class="ml-5 pt-4" style="font-size: 18px;">
                                  <div class="row mb-2">
                                      <i class="icon-home  pr-2"></i>
                                      <p>Sản phẩm : <span class="text-red">12</span ></p>
                                  </div>
                                  <div class="row mb-2">
                                      <i class="icon-user-plus  pr-2"></i>
                                      <p >Đang theo dõi : <span  class="text-red">12</span ></p>
                                  </div>
                                  <div class="row mb-2">
                                      <i class="icon-message-circle  pr-2"></i>
                                      <p>Tỉ lệ phản hồi chat :<span  class="text-red">100%</span ></p>
                                  </div>
                              </div>
                            </div>
                            <div class="col-lg-4">
                                <div class=" ml-4 pt-4" style="font-size: 18px;">
                                    <div class="row mb-2">
                                        <i class="icon-file-minus  pr-2"></i>
                                        <p>Tỉ lệ Shop hủy đơn : <span  class="text-red">0%</span ></p>
                                    </div>
                                    <div class="row mb-2">
                                        <i class="icon-user  pr-2"></i>
                                        <p >Người theo dõi :<span  class="text-red">12</span ></p>
                                    </div>
                                    <div class="row mb-2">
                                        <i class="icon-star  pr-2"></i>
                                        <p>Đánh giá : <span  class="text-red">12</span ></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class=" pt-4" style="font-size: 18px;">
                                    <div class="row mb-2">
                                        <i class="icon-user-check  pr-2"></i>
                                        <p>Tham gia : <span  class="text-red">12 Tháng trước</span ></p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product additional tabs -->

                    <div class="tabs tabs-folder">
                        <ul class="nav nav-tabs" id="myTab3" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home3" role="tab" aria-controls="home" aria-selected="false"><i class="fa fa-align-justify"></i>MÔ TẢ SẢN PHẨM</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile3" role="tab" aria-controls="profile" aria-selected="true"><i class="fa fa-info"></i> CHI TIẾT SẢN PHẨM</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact3" role="tab" aria-controls="contact" aria-selected="false"><i class="fa fa-star"></i>ĐÁNH GIÁ</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent3">
                            <div class="tab-pane fade active show" id="home3" role="tabpanel" aria-labelledby="home-tab">
                               <p>{{tree.description}}</p>
                            </div>
                            <div class="tab-pane fade " id="profile3" role="tabpanel" aria-labelledby="profile-tab">
                               <p>{{tree.details}}</p>
                            </div>
                            <div class="tab-pane fade" id="contact3" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="comments" id="comments">
                                    <div class="comment_number">
                                       Đánh giá <span>(3)</span>
                                    </div>
                                    <div class="comment-list">
                                        <!-- Comment -->
                                        <div class="comment" id="comment-1">
                                            <div class="image"><img alt="" src="../../../assets/img/15.jpg" class="avatar">
                                            </div>
                                            <div class="text">
                                                <div class="product-rate">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                                <h5 class="name">John Doe</h5>
                                                <span class="comment_date">Posted at 15:32h, 06 December</span>
                                                <a class="comment-reply-link" href="#">Reply</a>
                                                <div class="text_holder">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                        industry. Lorem Ipsum has been the industry's standard dummy
                                                        text ever since the 1500s.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end: Comment -->
                                        <!-- Comment -->
                                        <div class="comment" id="comment-1-1">
                                            <div class="image"><img alt="" src="../../../assets/img/14.jpg" class="avatar">
                                            </div>
                                            <div class="text">
                                                <div class="product-rate">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                                <h5 class="name">John Doe</h5>
                                                <span class="comment_date">Posted at 15:32h, 06 December</span>
                                                <a class="comment-reply-link" href="#">Reply</a>
                                                <div class="text_holder">
                                                    <p>It is a long established fact that a reader will be distracted by
                                                        the readable content.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end: Comment -->
                                        <!-- Comment -->
                                        <div class="comment" id="comment-1-2">
                                            <div class="image"><img alt="" src="../../../assets/img/13.jpg" class="avatar">
                                            </div>
                                            <div class="text">
                                                <div class="product-rate">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div>
                                                <h5 class="name">John Doe</h5>
                                                <span class="comment_date">Posted at 15:32h, 06 December</span>
                                                <a class="comment-reply-link" href="#">Reply</a>
                                                <div class="text_holder">
                                                    <p>There are many variations of passages of Lorem Ipsum available,
                                                        but the majority have suffered alteration in some form, by
                                                        injected humour.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end: Comment -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end: Product additional tabs -->
                </div>
            </div>
        </section>
        <!-- end: SHOP PRODUCT PAGE -->
        <!-- SHOP WIDGET PRODUTCS -->
        <section class="p-t-0">
            <div class="container">
                <div class="heading-text heading-line text-center">
                    <h5>Sản phẩm tương tự</h5>
                </div>
              <div class="grid-articles carousel post-carousel" data-items="3" data-dots="false">
                <article class="post-entry" *ngFor="let item of listTree" [routerLink]="['/shop-details']"
                         [queryParams]="{id:item.id}">
                  <a [routerLink]="['/shop-details',item.id]" class="post-image"><img alt="" src="{{item.image}}"></a>
                  <div class="post-entry-overlay">
                    <div class="post-entry-meta">
                      <div class="product-description">
                        <div class="product-category">{{item.category}}</div>
                        <div class="product-title">
                          <h3><a [routerLink]="['/shop-details',item.id]">{{item.name}}</a></h3>
                        </div>
                        <div class="product-price">
                          <ins>{{item.price}}</ins>
                        </div>

                        <div class="product-rate">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-half-o"></i>
                        </div>
                        <div class="product-reviews"><a href="#">3 lượt xem</a>
                        </div>
                      </div>

                    </div>
                  </div>
                </article>

              </div>
            </div>
        </section>
        <!-- end: SHOP WIDGET PRODUTCS -->
