.name {
  white-space: nowrap;
  width: 100%;
  height: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.post-summary {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
