
        <!-- Page title -->
        <section id="page-title" style="background-image: url('../../../assets/img/contact.jpeg'); height: 270px; " >
            <div class="container ">
                <div class=" text-white text-center ">
                </div>
            </div>
        </section>
        <!-- end: Page title -->
        <!-- CONTENT -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Liên hệ</h2>
                        <p>Để giải đáp những băn khoăn thắc mắc của bạn như: <br>

                            Bạn muốn trang trí bàn làm việc phải chọn loại cây gì? <br>
                            Nên để những loại cây như thế nào để phù hợp với bạn? <br>
                            Lựa chọn thế nào để có mức giá hợp lý nhất và vẫn đảm bảo mong muốn? <br>
                            Khi cây có hiện tượng váng lá, nhũn lá…Thì phải khắc phục ra sao? <br>
                            Nếu bạn mua nhiều thì bên web cây cảnh sẽ có ưu đãi thế nào? <br>
                            Muốn làm theo mẫu mình ưa thích thì phải làm gì? <br>
                            Nếu bạn có những thắc mắc như vậy hoặc nhiều hơn thế. Đừng ngại hãy liên hệ với chúng tôi qua số điện thoại: 09888.33.653 <br>

                            Rất vui và vinh dự khi được phục vụ quý khách hàng</p>
                        <div class="m-t-30">
                            <form class="widget-contact-form" novalidate action="include/contact-form.php" role="form" method="post" ngNoForm>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="name">Họ và tên</label>
                                        <input type="text" aria-required="true" name="widget-contact-form-name" required class="form-control required name" placeholder="Họ và tên">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="email">Email</label>
                                        <input type="email" aria-required="true" name="widget-contact-form-email" required class="form-control required email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="subject">Vấn đề cần hỗ trợ</label>
                                        <input type="text" name="widget-contact-form-subject" required class="form-control required" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="message"></label>
                                    <textarea type="text" name="widget-contact-form-message" required rows="5" class="form-control required" ></textarea>
                                </div>
                                 <!-- <div class="form-group">
                                    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                                    <div class="g-recaptcha" data-sitekey="6LddCxAUAAAAAKOg0-U6IprqOZ7vTfiMNSyQT2-M"></div>
                                </div>  -->
                                <button class="btn" type="submit" id="form-submit"><i class="fa fa-paper-plane"></i>&nbsp;Gửi</button>
                            </form>
                        </div>
                    </div>
                     <div class="col-lg-6">
                        <h3 class="text-uppercase">Địa chỉ và bản đồ</h3>

                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0971688315035!2d105.77974726424534!3d21.02879769315449!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313455f9bdf0e1c7%3A0x26caee8e7662dd9b!2zRlBUIEFwdGVjaCBIw6AgTuG7mWk!5e0!3m2!1sen!2s!4v1602094074693!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                     </div>
                </div>
            </div>
        </section> <!-- end: Content -->

