<div class="container background-white mt-3 " style="width: 95%;max-height: 748px;">
    <h4 class="pt-4">Danh Sách Cần Làm</h4>
    <p>Những việc bạn sẽ phải làm</p>
    <div class="row p-2 ">
        <div class="col-lg-3 text-center border-right ">
            <a href="#"><p class="text-blue"><b>0</b></p>
                <p>Chờ Xác Nhận</p></a>
        </div>
        <div class="col-lg-3 text-center border-right">
            <a href="#"><p class="text-blue"><b>0</b></p>
                <p>Chờ Lấy Hàng</p></a>
        </div>
        <div class="col-lg-3 text-center border-right">
            <a href="#"><p class="text-blue"><b>0</b></p>
                <p>Đã Sử Lí</p></a>
        </div>
        <div class="col-lg-3 text-center ">
            <a href="#"><p class="text-blue"><b>0</b></p>
                <p>Trả Hàng/ Hoàn Tiền <br> Chờ Xử Lí</p></a>
        </div>
        <div class="col-lg-3 text-center border-right mt-3">
            <a href="#"><p class="text-blue"><b>0</b></p>
                <p>Hủy Đơn</p></a>
        </div>
        <div class="col-lg-3 text-center border-right mt-3">
            <a href="#"><p class="text-blue"><b>0</b></p>
                <p>Sản Phẩm Bị Tạm Khóa</p></a>
        </div>
        <div class="col-lg-3 text-center border-right mt-3">
            <a href="#"><p class="text-blue"><b>0</b></p>
                <p>Sản Phẩm Hết Hàng</p></a>
        </div>
        <div class="col-lg-3 text-center mt-3">
            <a href="#"><p class="text-blue"><b>0</b></p>
                <p>Chương Trình Khuyến <br> Mãi Chờ Sử Lí</p></a>
        </div>

    </div>
</div>

<div class="container background-white mt-3 " style="width: 95%;max-height: 748px;">
    <h4 class="pt-4">Phân Tích Bán Hàng</h4>
    <p>Dữ liệu tổng quan về các đơn đã đặt</p>
    <br>
    <p>Đã bán
        <button type="button" data-container="body" data-toggle="popover"
                data-placement="top"
                data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i
                class="icon-alert-circle"></i></button>
    </p>

    <div class="row p-2 ">
        <div class="col-lg-6">
            <canvas id="canvas"></canvas>
        </div>
        <div class="col-lg-6 row ">
            <div class="col-lg-12 row border-bottom">

                <div class="col-lg-6">
                    <div><p>Lượt truy cập </p>
                        <p class="text-blue" style="font-size: 20px;"><b>0</b></p>
                        <p style="font-size: 12px;">Với hôm qua 0.00% </p></div>
                </div>
                <div class="col-lg-6">
                    <div><p>Lượt xem</p>
                        <p class="text-blue" style="font-size: 20px;"><b>0</b></p>
                        <p style="font-size: 12px;">Với hôm qua 0.00% </p></div>
                </div>
            </div>
            <div class="col-lg-12 row">

                <div class="col-lg-6">
                    <div><p>Đơn hàng</p>
                        <p class="text-blue" style="font-size: 20px;"><b>0</b></p>
                        <p style="font-size: 12px;">Với hôm qua 0.00% </p></div>
                </div>
                <div class="col-lg-6">
                    < div> <p>Tỉ lệ chuyển đổi</p>
                    <p class="text-blue" style="font-size: 20px;"><b>0,00%</b></p>
                    <p style="font-size: 12px;">Với hôm qua 0.00% </p></div>
            </div>
        </div>
    </div>

</div>

<div class="container background-white mt-3 mb-3" style="width: 95%;max-height: 748px;">
    <h4 class="pt-4">Phân Tích Bán Hàng</h4>
    <p>Dữ liệu tổng quan về các đơn đã đặt</p>
    <div class="row p-2 ">
        <div class="col-lg-6">

        </div>
        <div class="col-lg-6">
            <a href="#"><p class="text-blue"><b>0</b></p>
                <p>Chờ Xác Nhận</p></a>
        </div>


    </div>
</div>
