<div class="tables-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <button [routerLink]="['/tree']">Back</button>
        </div>
        <div class="accordion table-data">
          <h1>Detail khoa hoc</h1>
          <button [routerLink]="['/tree/create']"
                  [queryParams]="{id: tree.id}">Chỉnh sửa danh mục</button>
          <ul>
            <li>Tên: {{tree.name}}</li>
            <li>Ngày tạo: {{tree.createdAt|date:'yyyy-MM-dd HH:mm:ss':'VI'}}</li>
            <li>Description: {{tree.description}}</li>
<!--            <li>Ảnh:-->
<!--              <ul>-->
<!--                <li *ngFor="let item of category.arrImg">-->
<!--                  <img src={{item}} width="100" alt="loading">-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
          </ul>
      </div>
    </div>
  </div>
</div>

</div>
