<div class="tables-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="accordion table-data">
          <div class="card rounded-0">
            <div id="table-two" class="collapse show table-responsive">
              <table class="table table-hover mb-4">
                <thead>
                <tr>
                  <th scope="col">Ngày mua</th>
                  <th scope="col">Sản phẩm</th>
                  <th scope="col">Tổng tiền</th>
                  <th scope="col">Trạng thái</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of listOrder ">
                  <td><span>{{item.createdAt | date:'dd-MM-yyyy':'VI'}}</span></td>
                  <td >
                    <div *ngFor="let od of item.orderDetails" >
                       <span>{{od.treeName}} - {{od.quantity}}</span>
                      <br>
                    </div>
                  </td>
                  <td><span>{{item.totalPrice}}</span></td>
                  <td><span>{{item.status}}</span></td>
                </tr>
                </tbody>
              </table>
              <!--              <pagination-controls maxSize="5" *ngIf="listTree.length > 1"-->
              <!--                                   style="text-align: right" [id]="id" (pageChange)="p = $event">-->
              <!--              </pagination-controls>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

