<div class="tables-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="menu-course" >
          <a routerLink="/tree/create-edit" class="btn btn-success">Create New Post</a>

        </div>
        <div class="accordion table-data">
          <div class="card rounded-0">
            <div class="card-header">
              <h4 class="mb-0" data-toggle="collapse" data-target="#table-two" aria-expanded="true"
                  aria-controls="table-two">
                Danh sách
                <i class="fa pull-right accordion__angle--animated" aria-hidden="true"></i>
              </h4>
            </div>
            <div id="table-two" class="collapse show table-responsive">
              <table class="table mb-4">
                <thead>
                <tr>
                  <th scope="col">
                    <div style="width: 100px;">Thời gian <i  class="fa fa-arrow-up"></i></div>
                  </th>
                  <th scope="col">Ảnh</th>
                  <th scope="col">Tên <i  class="fa fa-arrow-up"></i> </th>
                  <th scope="col">Giá</th>
                  <th scope="col">Mô tả</th>
                  <th scope="col">Số lượng</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of listTree | paginate: { itemsPerPage: 5, currentPage: p, id: id  }">
                  <td class="last-trade"><span>{{item.createdAt | date:'yyyy-MM-dd HH:mm:ss':'VI'}}</span></td>
                  <td>{{item.imageDetail}} </td>
                  <td><span>{{item.name}}</span></td>
                  <td><span>{{item.price}}</span></td>
                  <td><span>{{item.details}}</span></td>
                  <td><span>{{item.quantity}}</span></td>
                  <td><span [routerLink]="['/tree',item.id]">Detail</span> | <span [routerLink]="['/tree/create-edit']" [queryParams]="{id: item.id}">Edit</span></td>
                </tr>
                </tbody>
              </table>
              <pagination-controls maxSize="5" *ngIf="listTree.length > 1"
                                   style="text-align: right" [id]="id" (pageChange)="p = $event">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
