  <!-- Page title -->
  <section id="page-title" style="background-image: url('../../../assets/img/about.jpeg'); " >
</section>
<!-- end: Page title -->
<!-- Content -->
<section id="page-content">
    <div class="container">
        <!-- Portfolio Filter -->
        <nav class="grid-filter gf-outline" data-layout="#portfolio">
            <ul>
                <li class="active"><a href="#" data-category="*">Tất Cả</a></li>
                <li><a href="#" data-category=".ct-branding">Branding</a></li>
                <li><a href="#" data-category=".ct-photography">Photography</a></li>
                <li><a href="#" data-category=".ct-marketing">Marketing</a></li>
                <li><a href="#" data-category=".ct-media">Media</a></li>
                <li><a href="#" data-category=".ct-webdesign">Web design</a></li>
            </ul>
            <div class="grid-active-title">Show All</div>
        </nav>
        <!-- end: Portfolio Filter -->
        <!-- Portfolio -->
        <div id="portfolio" class="grid-layout portfolio-3-columns" data-margin="0">
            <!-- portfolio item -->
            <div class="portfolio-item overlay-links ct-photography ct-media ct-branding ct-Media ct-webdesign">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <img src="../../../assets/img/product.jpeg" alt="">
                        <div class="portfolio-links" data-lightbox="gallery">
                            <!-- image 1 (trigger) -->
                            <a title="Photoshop Mock-up!" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg"><i class="icon-copy"></i></a>
                            <!-- image 2 -->
                            <a title="Paper Pouch!" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <!-- image 3 -->
                            <a title="Mock-up" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <!-- image 4 -->
                            <a title="Mock-up" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <!-- image 5 -->
                            <a title="Mock-up" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <!-- image 6 -->
                            <a title="Mock-up" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <!-- link -->
                            <a href="portfolio-page-grid-gallery.html"><i class="icon-link"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-description">
                        <a href="portfolio-page-grid-gallery.html">
                            <h3>Let's Go Outside</h3>
                            <span>Illustrations / GraphicsIllustrations</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: portfolio item -->
            <!-- portfolio item -->
            <div class="portfolio-item overlay-links ct-photography ct-marketing ct-media">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <a href="#"><img src="../../../assets/img/product.jpeg" alt=""></a>
                        <div class="portfolio-links" data-lightbox="gallery">
                            <a title="Photoshop Mock-up!" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg"><i class="icon-copy"></i></a>
                            <a title="Paper Pouch!" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <a title="Mock-up" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="icon-link"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-description">
                        <a href="portfolio-page-grid-gallery.html">
                            <h3>Let's Go Outside</h3>
                            <span>Illustrations / Graphics</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: portfolio item -->
            <!-- portfolio item -->
            <div class="portfolio-item overlay-links ct-photography ct-media ct-branding ct-Media">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <img src="../../../assets/img/product.jpeg" alt="">
                        <div class="portfolio-links" data-lightbox="gallery">
                            <a title="Photoshop Mock-up!" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg"><i class="icon-copy"></i></a>
                            <a title="Paper Pouch!" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <a title="Mock-up" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="icon-link"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-description">
                        <a href="portfolio-page-grid-gallery.html">
                            <h3>Let's Go Outside</h3>
                            <span>Illustrations / Graphics</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: portfolio item -->
            <!-- portfolio item -->
            <div class="portfolio-item overlay-links ct-photography ct-media ct-branding ct-marketing ct-webdesign">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <img src="../../../assets/img/product.jpeg" alt="">
                        <div class="portfolio-links" data-lightbox="gallery">
                            <a title="Photoshop Mock-up!" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg"><i class="icon-copy"></i></a>
                            <a title="Paper Pouch!" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <a title="Mock-up" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="icon-link"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-description">
                        <a href="portfolio-page-grid-gallery.html">
                            <h3>Let's Go Outside</h3>
                            <span>Illustrations / GraphicsIllustrations</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: portfolio item -->
            <!-- portfolio item -->
            <div class="portfolio-item overlay-links ct-marketing ct-media ct-branding ct-marketing ct-webdesign">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <a href="#"><img src="../../../assets/img/product.jpeg" alt=""></a>
                        <div class="portfolio-links" data-lightbox="gallery">
                            <a title="Photoshop Mock-up!" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg"><i class="icon-copy"></i></a>
                            <a title="Paper Pouch!" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <a title="Mock-up" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="icon-link"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-description">
                        <a href="portfolio-page-grid-gallery.html">
                            <h3>Let's Go Outside</h3>
                            <span>Illustrations / Graphics</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: portfolio item -->
            <!-- portfolio item -->
            <div class="portfolio-item overlay-links ct-photography ct-media ct-branding ct-marketing ct-webdesign">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <img src="../../../assets/img/product.jpeg" alt="">
                        <div class="portfolio-links" data-lightbox="gallery">
                            <a title="Photoshop Mock-up!" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg"><i class="icon-copy"></i></a>
                            <a title="Paper Pouch!" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <a title="Mock-up" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="icon-link"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-description">
                        <a href="portfolio-page-grid-gallery.html">
                            <h3>Let's Go Outside</h3>
                            <span>Illustrations / Graphics</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: portfolio item -->
            <!-- portfolio item -->
            <div class="portfolio-item overlay-links ct-photography ct-media ct-branding ct-Media ct-marketing ct-webdesign">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <img src="../../../assets/img/product.jpeg" alt="">
                        <div class="portfolio-links" data-lightbox="gallery">
                            <a title="Photoshop Mock-up!" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg"><i class="icon-copy"></i></a>
                            <a title="Paper Pouch!" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <a title="Mock-up" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="icon-link"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-description">
                        <a href="portfolio-page-grid-gallery.html">
                            <h3>Let's Go Outside</h3>
                            <span>Illustrations / GraphicsIllustrations</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: portfolio item -->
            <!-- portfolio item -->
            <div class="portfolio-item overlay-links ct-photography ct-marketing ct-media">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <a href="#"><img src="../../../assets/img/product.jpeg" alt=""></a>
                        <div class="portfolio-links" data-lightbox="gallery">
                            <a title="Photoshop Mock-up!" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg"><i class="icon-copy"></i></a>
                            <a title="Paper Pouch!" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <a title="Mock-up" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="icon-link"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-description">
                        <a href="portfolio-page-grid-gallery.html">
                            <h3>Let's Go Outside</h3>
                            <span>Illustrations / Graphics</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: portfolio item -->
            <!-- portfolio item -->
            <div class="portfolio-item overlay-links ct-photography ct-marketing ct-media">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <img src="../../../assets/img/product.jpeg" alt="">
                        <div class="portfolio-links" data-lightbox="gallery">
                            <a title="Photoshop Mock-up!" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg"><i class="icon-copy"></i></a>
                            <a title="Paper Pouch!" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <a title="Mock-up" data-lightbox="gallery-image" href="../../../assets/img/product.jpeg" class="hidden"></a>
                            <a href="portfolio-page-grid-gallery.html"><i class="icon-link"></i></a>
                        </div>
                    </div>
                    <div class="portfolio-description">
                        <a href="portfolio-page-grid-gallery.html">
                            <h3>Let's Go Outside</h3>
                            <span>Illustrations / Graphics</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end: portfolio item -->
        </div>
        <!-- end: Portfolio -->
    </div>
</section> <!-- end: Content -->