 <!-- Page title -->
 <section id="page-title" style="background-image: url('../../../assets/img/contact.jpeg'); height: 270px; " >
   <div class="container ">
     <div class=" text-white text-center ">

     </div>
   </div>
 </section>
<!-- end: Page title -->
<!-- SHOP CART -->
<section id="shop-cart">
    <div class="container">
        <div class="shop-cart">
            <div class="table table-sm table-striped table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="cart-product-remove"></th>
                            <th class="cart-product-thumbnail">Sản phẩm</th>
                            <th class="cart-product-name">Mô tả</th>
                            <th class="cart-product-price">Đơn giá</th>
                            <th class="cart-product-quantity">Số lượng</th>
                            <th class="cart-product-subtotal">Tổng tiền</th>
                        </tr>
                    </thead>
                  <tbody *ngFor="let item of items">
                  <tr>
                    <td class="cart-product-remove">
                      <a (click)="remove(item.product.id)"><i class="fa fa-times"></i></a>
                    </td>
                    <td class="cart-product-thumbnail">
                      <a href="#">
                        <img src="{{item.product.image}}" alt="Bolt Sweatshirt">
                      </a>
                      <div class="cart-product-thumbnail-name">{{item.product.name}}</div>
                    </td>
                    <td class="cart-product-description">
                      <p>{{item.product.description}}
                      </p>
                    </td>
                    <td class="cart-product-price">
                      <span class="amount">{{item.product.price}}đ</span>
                    </td>
                    <td class="cart-product-quantity">
                      <div class="quantity">
                        <input onclick="minus()" type="button" class="minus" value="-">
                        <input id="quantity" type="text" class="qty" value="{{item.quantity}}" name="quantity">
                        <input onclick="plus()" type="button" class="plus " value="+">
                      </div>
                    </td>
                    <td class="cart-product-subtotal">
                      <span class="amount">{{totalPrice}}đ</span>
                    </td>
                  </tr>
                  </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-6">
<!--                    <form class="form-inline" ngNoForm>-->
<!--                        <div class="input-group">-->
<!--                            <input type="text" placeholder="Mã khuyến mãi" id="CouponCode" class="form-control">-->
<!--                            <div class="input-group-append">-->
<!--                                <button type="submit" id="widget-subscribe-submit-button" class="btn">Áp dụng</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
                </div>
                  <div class="col-lg-6 p-r-10 ">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                        <tr>
                          <td class="cart-product-name">
                            <strong>Tổng tiền</strong>
                          </td>
                          <td class="cart-product-name text-right">
                            <span class="amount color lead"><strong>{{total}}đ</strong></span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <a href="/pay" class="btn icon-left float-right"><span>Mua Hàng</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
 <hr>
<!-- end: SHOP CART -->
 <section class=" p-t-40 p-b-0 m-t-40 ">
   <div class="container  " style="width: 85%;">
     <div class="row ">
       <div class="col-lg-4">
         <div class="icon-box effect small clean">
           <div class="icon mt-4">
             <a href="#"><img src="../../../assets/img/free_shipping.png" alt=""></a>
           </div>
           <h5>Giao hàng miễn phí</h5>
           <p>Miễn phí vận chuyển trên toàn quốc<br>
             cho tất cả đơn đặt hàng trên 150.000<br>
             nghìn đồng</p>
         </div>
       </div>

       <div class="col-lg-4">
         <div class="icon-box effect small clean">
           <div class="icon mt-4">
             <a href="#"><img src="../../../assets/img/payment_secure.png" alt=""></a>
           </div>
           <h5>Thanh toán an toàn</h5>
           <p>Với cổng thanh toán của chúng tôi, đừng <br>
             lo lắng về thông tin của bạn</p>
         </div>
       </div>

       <div class="col-lg-4">
         <div class="icon-box effect small clean">
           <div class="icon mt-4">
             <a href="#"><img src="../../../assets/img/returns.png" alt=""></a>
           </div>
           <h5>Dịch vụ thân thiện</h5>
           <p>Đảm bảo bạn có thể trả lại hàng trong 30<br>
             ngày cho mọi đơn hàng.</p>

         </div>
       </div>
     </div>
   </div>
 </section>
