<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="author" content="INSPIRO"/>
  <meta name="description" content="Themeforest Template Polo, html template">
  <link rel="icon" type="image/png" href="images/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Document title -->
  <title>POLO | The Multi-Purpose HTML5 Template</title>
  <!-- Stylesheets & Fonts -->

</head>

<body class="modern">

<!-- Body Inner -->
<div class="body-inner" style="background-color: #f5f5f5;">

  <!-- Header -->
  <header id="header" data-fullwidth="true">
    <div class="header-inner">
      <div class="container">
        <!--Logo-->
        <div id="logo" class="mr-5">
          <a href="#">

            <span class="logo-default"> <h4>CACTUS</h4></span>
            <!-- <span class="logo-dark">CACTI</span> -->
          </a>
        </div>
        <button class="btn btn-link btn-outline" id="sidebarToggle" href="#"><i class="fas fa-bars"></i>
        </button>

        <!--End: Logo-->
        <div class="header-extras m-l-15">
          <ul>
            <li class="ml-1">
              <div class="p-dropdown">
                <a class="btn btn-light btn-shadow btn-round"><i class="icon-bell"></i><span
                  class="badge badge-pill badge-danger">2</span></a>
                <div class="p-dropdown-content">
                  <div class="widget-notification">
                    <h4 class="mb-0">Thông báo</h4>
                    <p class="text-muted">Bạn có 2 thông báo</p>
                    <div class="notification-item notification-new">
                      <div class="notification-image"><a href="#"><img
                        src="img/product.jpeg"></a></div>
                      <div class="notification-meta">
                        <a href="#">Đơn hàng mới được đặt</a>
                        <span>18:20</span>
                      </div>
                    </div>
                    <div class="notification-item notification-new">
                      <div class="notification-image"><a href="#"><img
                        src="img/product.jpeg"></a></div>
                      <div class="notification-meta">
                        <a href="#">Có người theo dõi mới</a>
                        <span>22:03</span>
                      </div>
                    </div>
                    <div class="notification-item">
                      <div class="notification-image"><a href="#"><img
                        src="img/product.jpeg"></a></div>
                      <div class="notification-meta">
                        <a href="#">Đơn giao hàng thành công</a>
                        <span>14:12</span>
                      </div>
                    </div>
                    <div class="notification-item">
                      <div class="notification-image"><a href="#"><img
                        src="img/product.jpeg"></a></div>
                      <div class="notification-meta">
                        <a href="#">Đơn hàng bị hủy </a>
                        <span>11:03</span>
                      </div>
                    </div>
                    <hr>
                    <a href="#" class="text-theme">Xem tất cả thông báo</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="ml-2 mr-3">
              <div class="p-dropdown">
                <a class="btn btn-light btn-shadow btn-round"><i class="icon-user"></i></a>
                <div class="p-dropdown-content">
                  <div class="widget-myaccount">
                    <div class="d-block">
                      <img class="avatar avatar-lg" src="img/team2.png">
                    </div>
                    <span>Juna Doe</span>
                    <ul class="text-center">
                      <li><a href="#"><i class="icon-home"></i>Hồ sơ shop</a></li>
                      <li><a href="#"><i class="icon-log-out"></i>Đăng xuất</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>


      </div>
    </div>
  </header>
  <!-- end: Header -->
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <!--                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse1"-->
            <!--                           aria-expanded="false" aria-controls="collapse1">-->
            <!--                            <div class="sb-nav-link-icon"><i class="fa fa-truck"></i></div>-->
            <!--                            Vận Chuyển-->
            <!--                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
            <!--                        </a>-->
            <!--                        <div class="collapse" id="collapse1" aria-labelledby="headingOne"-->
            <!--                             data-parent="#sidenavAccordion">-->
            <!--                            <nav class="sb-sidenav-menu-nested nav">-->
            <!--                                <a class="nav-link" href="layout-static.html">Quản Lí Vận Chuyển</a>-->
            <!--                                <a class="nav-link" href="layout-sidenav-light.html">Giao Hàng Loạt</a>-->
            <!--                                <a class="nav-link" href="layout-sidenav-light.html">Cài Đặt Vận Chuyển</a>-->
            <!--                            </nav>-->
            <!--                        </div>-->
            <!--                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse2"-->
            <!--                           aria-expanded="false" aria-controls="collapse2">-->
            <!--                            <div class="sb-nav-link-icon"><i class="fa fa-clipboard"></i></div>-->
            <!--                            Quản Lí Đơn Hàng-->
            <!--                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
            <!--                        </a>-->
            <!--                        <div class="collapse" id="collapse2" aria-labelledby="headingOne"-->
            <!--                             data-parent="#sidenavAccordion">-->
            <!--                            <nav class="sb-sidenav-menu-nested nav">-->
            <!--                                <a class="nav-link" href="layout-static.html">Tất Cả</a>-->
            <!--                                <a class="nav-link" href="layout-sidenav-light.html">Đã Hủy</a>-->
            <!--                                <a class="nav-link" href="layout-sidenav-light.html">Trả Hàng/Hoàn Tiền</a>-->
            <!--                            </nav>-->
            <!--                        </div>-->
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3"
               aria-expanded="false" aria-controls="collapse3">
              <div class="sb-nav-link-icon"><i class="fa fa-shopping-bag"></i></div>
              Quản Lí Cây Cảnh
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapse3" aria-labelledby="headingOne"
                 data-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" routerLink="/seller/tree">Tất Cả Sản Phẩm</a>
                <a class="nav-link" routerLink="/seller/tree/create">Thêm Sản Phẩm</a>
              </nav>
            </div>
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse4"
               aria-expanded="false" aria-controls="collapse4">
              <div class="sb-nav-link-icon"><i class="fa fa-briefcase"></i></div>
              Quản Lí Danh Mục
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapse4" aria-labelledby="headingOne"
                 data-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" routerLink="/seller/category">Tất Cả Danh Mục</a>
                <a class="nav-link" routerLink="/seller/category/create">Thêm Danh Mục</a>
              </nav>
            </div>
            <!--                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse5"-->
            <!--                           aria-expanded="false" aria-controls="collapse5">-->
            <!--                            <div class="sb-nav-link-icon"><i class="fa fa-chart-line"></i></div>-->
            <!--                            Dữ Liệu-->
            <!--                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
            <!--                        </a>-->
            <!--                        <div class="collapse" id="collapse5" aria-labelledby="headingOne"-->
            <!--                             data-parent="#sidenavAccordion">-->
            <!--                            <nav class="sb-sidenav-menu-nested nav">-->
            <!--                                <a class="nav-link" href="layout-static.html">Phân Tích Bán Hàng</a>-->
            <!--                                <a class="nav-link" href="layout-sidenav-light.html">Hiệu Quả Hoạt Động</a>-->
            <!--                            </nav>-->
            <!--                        </div>-->
            <!--                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse6"-->
            <!--                           aria-expanded="false" aria-controls="collapse6">-->
            <!--                            <div class="sb-nav-link-icon"><i class="fa fa-comments"></i></div>-->
            <!--                            Chăm Sóc Khách Hàng-->
            <!--                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
            <!--                        </a>-->
            <!--                        <div class="collapse" id="collapse6" aria-labelledby="headingOne"-->
            <!--                             data-parent="#sidenavAccordion">-->
            <!--                            <nav class="sb-sidenav-menu-nested nav">-->
            <!--                                <a class="nav-link" href="layout-static.html">Trợ Lí Chat</a>-->
            <!--                            </nav>-->
            <!--                        </div>-->
            <!--                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse7"-->
            <!--                           aria-expanded="false" aria-controls="collapse7">-->
            <!--                            <div class="sb-nav-link-icon"><i class=" fa fa-store"></i></div>-->
            <!--                            Quản Lí Shop-->
            <!--                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
            <!--                        </a>-->
            <!--                        <div class="collapse" id="collapse7" aria-labelledby="headingOne"-->
            <!--                             data-parent="#sidenavAccordion">-->
            <!--                            <nav class="sb-sidenav-menu-nested nav">-->
            <!--                                <a class="nav-link" href="layout-static.html">Đánh Giá Shop</a>-->
            <!--                                <a class="nav-link" href="layout-static.html">Hồ Sơ Shop</a>-->
            <!--                                <a class="nav-link" href="layout-static.html">Danh Mục Của Shop</a>-->
            <!--                                <a class="nav-link" href="layout-static.html">Danh Mục Của Shop</a>-->
            <!--                            </nav>-->
            <!--                        </div>-->
            <!--                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse8"-->
            <!--                           aria-expanded="false" aria-controls="collapse8">-->
            <!--                            <div class="sb-nav-link-icon"><i class="fa fa-cog"></i></div>-->
            <!--                            Thiết Lập Shop-->
            <!--                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
            <!--                        </a>-->
            <!--                        <div class="collapse" id="collapse8" aria-labelledby="headingOne"-->
            <!--                             data-parent="#sidenavAccordion">-->
            <!--                            <nav class="sb-sidenav-menu-nested nav">-->
            <!--                                <a class="nav-link" href="layout-static.html">Địa Chỉ</a>-->
            <!--                                <a class="nav-link" href="layout-static.html">Tài Khoản</a>-->
            <!--                            </nav>-->
            <!--                        </div>-->

          </div>
        </div>
      </nav>
    </div>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid">

          <router-outlet></router-outlet>

        </div>

      </main>

    </div>
  </div>

</div>
<!-- Scroll top -->
<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>

</body>

</html>
