<section id="shop-cart">
  <div class="container">
    <div class="shop-cart">
      <div class="table table-sm table-striped table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th class="cart-product-thumbnail">Sản phẩm</th>
            <th class="cart-product-price">Đơn giá</th>
            <th class="cart-product-quantity">Số lượng</th>
            <th class="cart-product-subtotal">Tổng tiền</th>
          </tr>
          </thead>
          <tbody *ngFor="let item of items">
          <tr>
            <td class="cart-product-thumbnail">
              <a href="#">
                <img src="{{item.product.image}}" alt="Bolt Sweatshirt">
              </a>
              <div class="cart-product-thumbnail-name">{{item.product.name}}</div>
            </td>
            <td class="cart-product-price">
              <span class="amount">{{item.product.price | currency:' ':'symbol':'1.0-0'}}đ</span>
            </td>
            <td class="cart-product-quantity">
              <div class="quantity">
                <span>{{item.quantity}}</span>
              </div>
            </td>
            <td class="cart-product-description">
              <p>{{item.product.price * item.quantity | currency:' ':'symbol':'1.0-0'}}đ
              </p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h4>Thông tin giao hàng:</h4>
          <form class="row" [formGroup]="orderForm" (ngSubmit)="saveOrder()">
            <div class="col-lg-8  form-group">
              <label for="inputPhone">Số điện thoại <span class="text-danger">*</span></label>
              <input type="text" formControlName="shipPhone" id="inputPhone" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.shipPhone.errors }">
              <div *ngIf="submitted && f.shipPhone.errors" class="invalid-feedback">
                <div *ngIf="f.shipPhone.errors.required">không hợp lệ</div>
              </div>
            </div>
            <div class="col-lg-8 form-group">
              <label for="inputAddress">Địa chỉ <span class="text-danger">*</span></label>
              <textarea name="textarea" formControlName="shipAddress" id="inputAddress" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.shipAddress.errors }"></textarea>
              <div *ngIf="submitted && f.shipAddress.errors" class="invalid-feedback">
                <div *ngIf="f.shipAddress.errors.required">không hợp lệ</div>
              </div>
            </div>
            <!--            <div class="col-lg-12 form-group ">-->
            <!--              <button [disabled]="loading" class="btn btn-success float-right">-->
            <!--                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" routerLink="/checkout"  ></span>-->
            <!--              </button>-->
            <!--              &lt;!&ndash;              <button type="button" class="btn btn-danger m-l-10">Hủy bỏ</button>&ndash;&gt;-->
            <!--            </div>-->
          </form>

        </div>
        <div class="col-lg-6 p-r-10 mt-5">
          <div class="table-responsive">
            <table class="table">
              <tbody>
              <tr>
                <td class="cart-product-name">
                  <strong>Tổng tiền :</strong>
                </td>
                <td class="cart-product-name text-right">
                  <span class="amount color lead"><h4><strong>{{total | currency:' ':'symbol':'1.0-0'}}
                    <sup>đ</sup></strong></h4></span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <button class="btn btn-light-hover btn-success float-right mt-4 mr-4">Mua Ngay</button>
          <button class="btn btn-light-hover btn-success float-right mt-4 mr-5" (click)="saveOrder()">Đặt hàng</button>

        </div>
      </div>
    </div>
  </div>

</section>



