<!-- Page Content -->
<section>
  <div class="container-wide">
    <div class="row">
      <!-- content -->
      <div class="content col-lg-11 " style="margin-left: 7%;">
        <!-- Blog -->
        <div id="blog" class="single-post">
          <!-- Post single item-->
          <div class="post-item">
            <div class="post-item-wrap">
              <div class="post-image">
                <a href="#">
                  <img alt="" src="{{blog.imgBlog}}" style="width: 80%; margin-left: 10%;">
                </a>
              </div>
              <div class="post-item-description">
                <h2>{{blog.description}}</h2>
                <div>{{blog.content}}</div>

              </div>
            </div>
          </div>
          <!-- end: Post single item-->
        </div>
      </div>
      <!-- end: content -->
    </div>
  </div>
</section>
<!-- end: Page Content -->
