<section class="fullscreen" data-bg-parallax="" style="background-image: url('../../assets/img/login.jpeg');">
  <div class="container">
    <div>
      <div class="text-center m-b-30">
        <!-- <a href="index.html" class="logo">
            <img src="" alt="Polo Logo">
        </a> -->
      </div>
      <div class="row">
        <div class="col-lg-6 center p-30 background-white b-r-6">
          <div class="col-lg-12 m-t-20">
            <h3 class="text-center">Đăng kí tài khoản</h3>
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="col-lg-12 form-group">
              <label class="sr-only" for="inputFullname">Họ và tên</label>
              <input type="text" formControlName="fullname" id="inputFullname" class="form-control"
                     placeholder="Họ và tên" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }">
              <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                <div *ngIf="f.fullname.errors.required">Họ và tên không hợp lệ</div>
              </div>
            </div>
            <div class="col-lg-12 form-group">
              <label class="sr-only" for="inputEmail">Email</label>
              <input type="text" formControlName="email" id="inputEmail" class="form-control"
                     placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email không hợp lệ</div>
              </div>
            </div>
            <div class="form-group col-lg-12 ">
              <label class="sr-only" for="inputPassword">Mật khẩu</label>
              <input type="password" formControlName="password" id="inputPassword" class="form-control"
                     placeholder="Mật khẩu" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password không hợp lệ</div>
              </div>
            </div>
            <div class="col-lg-12  form-group ">
              <label for="gender" class="sr-only">Giới tính</label>
              <select class="form-control" formControlName="gender" name="gender" required>
                <option value="">Chọn giới tính</option>
                <option value="1">Nữ</option>
                <option value="2">Nam</option>
              </select>
            </div>
            <div class="col-lg-12 row ">
              <div class="form-group col-6">
                <label for="inputAvatar" class="sr-only">Ảnh </label>
                <input type="file" formControlName="avatar" id="inputAvatar" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.avatar.errors }"
                       (change)="uploadFile($event.target.files)">
                <div *ngIf="submitted && f.avatar.errors" class="invalid-feedback">
                  <div *ngIf="f.avatar.errors.required">Không hợp lệ</div>
                </div>
              </div>
              <div class="col-6"><img src="{{url}}" alt="" style="width: 50%;margin-bottom: 5%;"></div>
            </div>
            <div class="col-lg-12 form-group ">
              <button [disabled]="loading" class="btn btn-success float-right">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Đăng kí
              </button>
              <!--              <button type="button" class="btn btn-danger m-l-10">Hủy bỏ</button>-->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
